{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="hero">
    <div class="container">
      <div class="hero__content">
        <div class="breadcrumb">
          <a href="" class="breadcrumb__link">Главная</a>
          <a href="" class="breadcrumb__link">Отзывы</a>
        </div>
        <h1 class="hero__title hero__title--sm">
          приведем клиентов через 24 часа
          <div class="hero__title-descr">с помощью Яндекс.Директ и <br> Google Adwords</div>
        </h1>

        
        <div class="hero__form">
          <form action="" class="form">
            <p class="hero__form-caption">Получите коммерческое предложение прямо сейчас</p>
            <div class="form__row">
              <input type="text" placeholder="Ваше имя" class="form__field form__field--sm">
              <input type="text" placeholder="Ваш телефон" class="form__field form__field--sm">
            </div>

            <div class="form__row">
              <input type="text" placeholder="E-mail" class="form__field form__field--sm">
              <input type="text" placeholder="Адрес сайта" class="form__field form__field--sm">
            </div>
            <div class="hero__form-footer form__row">
              <button class="btn btn--primary btn--md">Получить предложение</button>
            </div>
          </form>
        </div>
      </div>

      <div class="hero__image">
        <img src="./images/hero_img_advertising.svg" alt="" class="hero__image-pic">
      </div>
    </div>
  </div>

  <div class="benefits">
    <div class="container">
      <div class="benefits__title wow fadeIn" data-wow-delay="0.2s">Преимущества <br> контекстной рекламы</div>
      <div class="benefits__list carousel_mobile_has_dots wow fadeIn" data-wow-delay="0.2s">
        <div class="benefits__item wow fadeIn" data-wow-delay="0.3s">
          <img src="./images/benefits_1.svg" alt="" class="benefits__item-img">
          <div class="benefits__item-title">Быстрая отдача</div>
          <div class="benefits__item-descr">Первые клиенты оставят заявку уже в первый день запуска рекламной кампании.</div>
        </div>

        <div class="benefits__item wow fadeIn" data-wow-delay="0.4s">
          <img src="./images/benefits_2.svg" alt="" class="benefits__item-img">
          <div class="benefits__item-title">Оплата за результат</div>
          <div class="benefits__item-descr">Вы оплачиваете не рекламные показы, а только факт посещения потенциальным клиентом вашего сайта</div>
        </div>

        <div class="benefits__item wow fadeIn" data-wow-delay="0.5s">
          <img src="./images/benefits_3.svg" alt="" class="benefits__item-img">
          <div class="benefits__item-title">Тонкая настройка</div>
          <div class="benefits__item-descr">Благодаря большому количеству настроек, объявления показываются только вашей целевой аудитории, что помогает рационально использовать бюджет и увеличить ROI.</div>
        </div>
      </div>
    </div>
  </div>
  
  {% include 'shared/cases.html' %}  

  <div class="how_much">
    <div class="container">
      <div class="how_much__decor-top"></div>
      <div class="how_much__inner">
        <div class="how_much__title wow fadeIn" data-wow-delay="0.1s">Сколько это стоит?</div>
        <div class="how_much__row">
          <div class="how_much__column wow fadeIn" data-wow-delay="0.2s">
            <div class="how_much__subtitle">Бюджет складывается из 2 частей:</div>
            <ol class="how_much__list">
              <li class="how_much__list-item">Рекламный бюджет – те деньги, которые списываются в Яндекс.Директ и Google.Adwords за клики</li>
              <li class="how_much__list-item">Оплата наших услуг за настройку и управление рекламными кампаниями.</li>
            </ol>
            <div class="how_much__footer_caption">Мы работаем с бюджетом <span>от 30 000 рублей.</span></div>
          </div>

          <div class="how_much__get wow fadeIn" data-wow-delay="0.3s">
            <div class="how_much__get-title">Получить расчет <br> для контекстной рекламы моего бизнеса</div>
            <a href="#get_calculation" class="btn btn--primary btn--md modal-link">Получить расчет</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="seo">
    <div class="container">
      <div class="seo__title wow fadeIn" data-wow-delay="0.1s">Как мы делаем вашу<br> рекламу эффективной</div>
      <div class="seo__block wow fadeIn" data-wow-delay="0.1s">
        <div class="seo__row">
          <div class="seo__column wow fadeIn" data-wow-delay="0.2s">
            <img src="./images/seo_1.svg" alt="" class="seo__block-img">
          </div>
          <div class="seo__column wow fadeIn" data-wow-delay="0.3s">
            <div class="seo__block-title">Подготовка к рекламной кампании</div>

            <ul>
              <li>Проводим анализ ниши, целевой аудитории и конкурентов</li>
              <li>Отсеиваем нецелевую аудиторию</li>
              <li>Планируем рекламные кампании и акции в период повышенного сезонного спроса</li>
              <li>Проводим полный анализ сайта и даем рекомендации <br> для повышении конверсии посетителей в клиентов</li>
              <li>Подбираем ключевые фраз</li>
              <li>Распределяем запросы по посадочным страницам</li>
              <li>Составляем прогноз</li>
            </ul>

            <div class="seo__block-caption">Заполните бриф и мы приступим к подготовке рекламной кампании в течение 24 часов.</div>
            <a href="" class="btn btn--primary btn--md">Заполнить бриф</a>
          </div>
        </div>
      </div>

      <div class="seo__block wow fadeIn" data-wow-delay="0.1s">
        <div class="seo__row">
          <div class="seo__column wow fadeIn" data-wow-delay="0.3s">
            <div class="seo__block-title">Запуск рекламной кампании</div>

            <ul>
              <li>Определяем ваши сильные стороны, составляем грамотное УТП и пишем объявления на их основании</li>
              <li>внедряем рекламную стратегию с использованием всех необходимых каналов платной рекламы</li>
              <li>Настраиваем call-tracking и сервисы аналитики для повышения эффективности рекламной кампании</li>
              <li>Составляем полный список минус-слов для экономии бюджета</li>
            </ul>

            <div class="seo__block-caption">Заполните бриф и мы приступим к подготовке рекламной кампании в течение 24 часов.</div>
          </div>

          <div class="seo__column seo__column--reversed wow fadeIn" data-wow-delay="0.2s">
            <img src="./images/seo_2.svg" alt="" class="seo__block-img">
          </div>
        </div>
      </div>

      <div class="seo__block wow fadeIn" data-wow-delay="0.1s">
        <div class="seo__row">
          <div class="seo__column wow fadeIn" data-wow-delay="0.2s">
            <img src="./images/seo_3.svg" alt="" class="seo__block-img">
          </div>
          <div class="seo__column wow fadeIn" data-wow-delay="0.3s">
            <div class="seo__block-title">Ведение рекламной кампании</div>

            <ul>
              <li>Контролируем расход средств, оптимизируем ставки</li>
              <li>Расширяем список минус-слов</li>
              <li>Проводим A/B тесты объявлений, выявляем и оставляем лучшие</li>
              <li>Анализируем поведение целевых пользователей на сайте, вносим дополнительные предложения по доработке сайта</li>
              <li>Анализируем данные в Яндекс.Метрике и Google Analytics. Настраиваем цели на посещение страниц, нажатие кнопки, отправку форм</li>
              <li>Настраиваем ретаргетинг и возвращаем на сайт тех пользователей, которые заинтересовались услугой, но еще не совершили заказ.</li>
            </ul>

            <div class="seo__block-caption">Заполните бриф и мы приступим к подготовке рекламной кампании в течение 24 часов.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'shared/discount.html' %}
{% endblock %}
