{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
	
	<div class="article page-wrap">
		<div class="article__header">
			<div class="article__content">
				<a href="" class="link-back">
					<svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
					Назад в блог
				</a>
				<h1>Заголовок первого уровня</h1>

				<div class="article__info">
					<a href="" class="article__rubric">контекстная рекмала</a>
					<div class="article__date">10 февраля 2017</div>
				</div>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
				<div class="article__header-image">
					<img src="./images/article_img.jpg" alt="">
				</div>
				
			</div>
			
		</div>
		<div class="article__content">
			<h2>Заголовок второго уровня</h2>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>

		</div>

		<div class="container">
			<div class="article__gallery">
				<div class="article__gallery-list">
					<div class="article__gallery-item">
						<img src="./images/gallery_img_1.jpg" alt="" class="article__gallery-img">
					</div>
					<div class="article__gallery-item">
						<img src="./images/gallery_img_2.jpg" alt="" class="article__gallery-img">
					</div>
					<div class="article__gallery-item">
						<img src="./images/gallery_img_3.jpg" alt="" class="article__gallery-img">
					</div>
				</div>

				<div class="carousel-arrows">
					<div class="carousel-arrow carousel-arrow--prev">
						<svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
					</div>
					<div class="carousel-arrow carousel-arrow--next">
						<svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
					</div>
				</div>
			</div>
		</div>
		
		<div class="article__content">
			<h3>Заголовок третьего уровня</h3>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

			<ul>
				<li>Возврат денежных средств при отсутствии</li>
				<li>Возмещение финансов при затягивании </li>
				<li>Снижаем стоимость до 0, если сайт попадает</li>
				<li>Возмещение финансов при несвоевременной</li>
			</ul>

			<ol>
				<li>Возврат денежных средств при отсутствии</li>
				<li>Возмещение финансов при затягивании </li>
				<li>Снижаем стоимость до 0, если сайт попадает</li>
				<li>Возмещение финансов при несвоевременной</li>
			</ol>

			<blockquote>Ко­гда вы про­яв­ля­е­те глу­бо­кую эм­па­тию по от­но­ше­нию к кому-либо, его за­щит­ная энер­гия ухо­дит, и на её ме­сто при­хо­дит по­зи­тив­ная энер­гия. В та­кой мо­мент вы мо­же­те стать бо­лее кре­а­тив­ны­ми ре­ше­нии про­бле­мы</blockquote>
			<div class="article__hint">
				<h4>По­лез­ные со­ве­ты: h4</h4>
				<p><span>Не занимайтесь созданием карт в одиночку. </span> Эмпатия по отношению к пользователю возрастает благодаря обмену мыслями и чувствами в процессе совместного создания карты. Каждый член команды обладает какими-то знаниями о пользователе. Используйте это мероприятие как возможность собраться вместе, пообщаться и организовать информацию в единый массив.</p>
			</div>

			<h3>Таблицы</h3>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

			<table>
				<thead>
					<tr>
						<th>Заголовок ячейки</th>
						<th>Заголовок ячейки</th>
						<th>Заголовок ячейки</th>
						<th>Заголовок ячейки</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Текст в ячейке</td>
						<td>Текст в ячейке</td>
						<td>Текст в ячейке</td>
						<td>Текст в ячейке</td>
					</tr>
					<tr>
						<td>Текст в ячейке</td>
						<td>Текст в ячейке</td>
						<td>Текст в ячейке</td>
						<td>Текст в ячейке</td>
					</tr>
					<tr>
						<td>Текст в ячейке</td>
						<td>Текст в ячейке</td>
						<td>Текст в ячейке</td>
						<td>Текст в ячейке</td>
					</tr>
				</tbody>
			</table>

			<div class="article__share">
				<div class="article__share-text"><span>Понравилась статья? </span> Поделитесь с друзьями:</div>
				<div class="article__share-social">
					<a href="" class="article__share-item">
						<svg class='article__share-icon' viewBox="0 0 1 1">
							<use xlink:href='./images/icons.svg#vk'></use>
						</svg>
					</a>
					<a href="" class="article__share-item">
						<svg class='article__share-icon' viewBox="0 0 1 1">
							<use xlink:href='./images/icons.svg#instagram'></use>
						</svg>
					</a>
					<a href="" class="article__share-item">
						<svg class='article__share-icon' viewBox="0 0 1 1">
							<use xlink:href='./images/icons.svg#ok_logo'></use>
						</svg>
					</a>
					<a href="" class="article__share-item">
						<svg class='article__share-icon' viewBox="0 0 1 1">
							<use xlink:href='./images/icons.svg#facebook-logo'></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
		

	</div>

{% endblock %}