{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}


	<div class="page-wrap">
		<div class="container">
			<div class="modal__footer">
				<a href="#call_back" class="btn btn--primary modal-link">Обратный звонок</a>
				<a href="#done_modal" class="btn btn--primary modal-link">Спасибо за вашу заявку!</a>
				<a href="#application_modal" class="btn btn--primary modal-link">Оставить заявку</a>
				<a href="#message_modal" class="btn btn--primary modal-link">Отправить соощение</a>
			</div>
		</div>

		<div class="cases">
		  <div class="cases__decor_right"></div>
		  <div class="container">
		    <div class="cases__decor_ellipse"></div>
		    <h2 class="cases__title wow fadeIn" data-wow-delay="0.2s">Истории успеха</h2>
		    <div class="cases__list">
		      <div class="cases__item">
		        <div class="cases__item-card">
		          <div class="cases__item-header wow fadeIn" data-wow-delay="0.3s">
		            <div class="cases__item-holder">
		              <div class="cases__row">
		                <div class="cases__item-site_name">red-g.ru</div>
		                <div class="cases__tags">
		                  <a href='' class="cases__tags-link">разработка сайта</a>
		                  <a href='' class="cases__tags-link">Продвижение</a>
		                </div>
		              </div>
		              <h2 class="cases__item-title">Агенство тимбилдингов REDG </h2>
		            </div>
		            
		            <div class="cases__item-logo hidden-sm">
		              <img src="./images/redlogo.png" alt="" class="cases__item-logo-pic">
		            </div>
		          </div>

		          <div class="cases__text_block cases__row wow fadeIn" data-wow-delay="0.3s">
		            <div class="cases__col cases__col--35">
		              <h4 class="cases__item-subtitle">Задача:</h4>
		              <p class="cases__item-text">Организация полного цикла продаж через Интернет. Поставлена цель по объему ежемесячных продаж.</p>
		            </div>
		            <div class="cases__col cases__col--65">
		              <h4 class="cases__item-subtitle">Результат:</h4>
		              <p class="cases__item-text">Цели достигнуты и перевыполнены. Разработан и постоянно развивается сайт. За счет контекста и продвижения достигнута посещаемость 30000 человек в день. shatura.com — No 1 среди мебельных магазинов в Рунете!</p>
		            </div>
		          </div>

		          <div class="cases__to_do_block dark-bg hidden-sm wow fadeIn" data-wow-delay="0.3s">
		            <h4 class="cases__item-subtitle">Выполненные работы:</h4>
		            <div class="cases__row">
		              <div class="cases__col cases__col--50">
		                <ul class="cases__to_do-list">
		                  <li>Выполненная работа 1</li>
		                  <li>Выполненная работа 1</li>
		                  <li>Выполненная работа 1</li>
		                </ul>
		              </div>
		              <div class="cases__col cases__col--50">
		                <ul class="cases__to_do-list">
		                  <li>Выполненная работа 1</li>
		                  <li>Выполненная работа 1</li>
		                  <li>Выполненная работа 1</li>
		                </ul>
		              </div>
		            </div>
		          </div>

		          <div class="cases__statistics dark-bg hidden-sm wow fadeIn" data-wow-delay="0.3s">
		            <div class="cases__statistics-graph">
		              <h4 class="cases__item-subtitle">Посещаемость</h4>
		              <img src="./images/statistics_img.png" alt="" class="cases__statistics-pic">
		            </div>

		            <div class="cases__statistics-tables cases__row">
		              <table class="cases__col cases__col--50">
		                <thead>
		                  <tr>
		                    <td>Запрос</td>
		                    <td class="align-right">Место</td>
		                  </tr>
		                </thead>
		                <tbody>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                </tbody>
		              </table>

		              <table class="cases__col cases__col--50">
		                <thead>
		                  <tr>
		                    <td>Запрос</td>
		                    <td class="align-right">Место</td>
		                  </tr>
		                </thead>
		                <tbody>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                </tbody>
		              </table>
		            </div>
		          </div>

		          <div class="cases__site hidden-sm">
		            <div class="cases__site-info wow fadeIn" data-wow-delay="0.3s">
		              <h4 class="cases__item-subtitle">Задача:</h4>
		              <p class="cases__item-text">Организация полного цикла продаж через Интернет. Поставлена цель по объему ежемесячных продаж.</p>

		              <h4 class="cases__item-subtitle">Результат:</h4>
		              <p class="cases__item-text">Цели достигнуты и перевыполнены. Разработан и постоянно развивается сайт. За счет контекста и продвижения достигнута посещаемость 30000 человек в день. shatura.com — No 1 среди мебельных магазинов в Рунете! </p>

		              <ul class="cases__to_do-list">
		                <li>Выполненная работа 1</li>
		                <li>Выполненная работа 1</li>
		                <li>Выполненная работа 1</li>
		              </ul>
		            </div>
		            <div class="cases__site-layout wow fadeIn" data-wow-delay="0.3s">
		              <div class="cases__site-images">
		                <img src="./images/article_carousel_img_1.jpg" alt="" class="cases__site-pic cases__site-pic--overlay">
		                <img src="./images/article_carousel_img_2.jpg" alt="" class="cases__site-pic cases__site-pic--static">
		              </div>
		            </div>
		          </div>

		          <div class="cases__item-review hidden-sm wow fadeIn" data-wow-delay="0.3s">
		            <div class="cases__item-quote">
		              <p class="cases__item-text">Короткая!!! выдержка из отзыва ровно в две строки. И далее дальше будет ссылка, чтобы прочитать. <a href="">Весь отзыв</a>
		              </p>
		            </div>
		            <div class="cases__item-author">
		              <h4 class="cases__item-author-name">Александр Носиков</h4>
		              <p class="cases__item-author-pos">Руководитель команды REDG team</p>
		            </div>
		          </div>

		          <a href="" class="cases__link-more">Открыть больше</a>
		        </div>
		      </div>

		      <div class="cases__item">
		        <div class="cases__item-card">
		          <div class="cases__item-header">
		            <div class="cases__item-holder">
		              <div class="cases__row">
		                <div class="cases__item-site_name">red-g.ru</div>
		                <div class="cases__tags">
		                  <a href='' class="cases__tags-link">разработка сайта</a>
		                  <a href='' class="cases__tags-link">Продвижение</a>
		                </div>
		              </div>
		              <h2 class="cases__item-title">Агенство тимбилдингов REDG </h2>
		            </div>
		            
		            <div class="cases__item-logo hidden-sm">
		              <img src="./images/redlogo.png" alt="" class="cases__item-logo-pic">
		            </div>
		          </div>

		          <div class="cases__text_block cases__row">
		            <div class="cases__col cases__col--35">
		              <h4 class="cases__item-subtitle">Задача:</h4>
		              <p class="cases__item-text">Организация полного цикла продаж через Интернет. Поставлена цель по объему ежемесячных продаж.</p>
		            </div>
		            <div class="cases__col cases__col--65">
		              <h4 class="cases__item-subtitle">Результат:</h4>
		              <p class="cases__item-text">Цели достигнуты и перевыполнены. Разработан и постоянно развивается сайт. За счет контекста и продвижения достигнута посещаемость 30000 человек в день. shatura.com — No 1 среди мебельных магазинов в Рунете!</p>
		            </div>
		          </div>

		          <div class="cases__to_do_block dark-bg hidden-sm">
		            <h4 class="cases__item-subtitle">Выполненные работы:</h4>
		            <div class="cases__row">
		              <div class="cases__col cases__col--50">
		                <ul class="cases__to_do-list">
		                  <li>Выполненная работа 1</li>
		                  <li>Выполненная работа 1</li>
		                  <li>Выполненная работа 1</li>
		                </ul>
		              </div>
		              <div class="cases__col cases__col--50">
		                <ul class="cases__to_do-list">
		                  <li>Выполненная работа 1</li>
		                  <li>Выполненная работа 1</li>
		                  <li>Выполненная работа 1</li>
		                </ul>
		              </div>
		            </div>
		          </div>

		          <div class="cases__statistics dark-bg hidden-sm">
		            <div class="cases__statistics-graph">
		              <h4 class="cases__item-subtitle">Посещаемость</h4>
		              <img src="./images/statistics_img.png" alt="" class="cases__statistics-pic">
		            </div>

		            <div class="cases__statistics-tables cases__row">
		              <table class="cases__col cases__col--50">
		                <thead>
		                  <tr>
		                    <td>Запрос</td>
		                    <td class="align-right">Место</td>
		                  </tr>
		                </thead>
		                <tbody>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                </tbody>
		              </table>

		              <table class="cases__col cases__col--50">
		                <thead>
		                  <tr>
		                    <td>Запрос</td>
		                    <td class="align-right">Место</td>
		                  </tr>
		                </thead>
		                <tbody>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                  <tr>
		                    <td>Название запроса</td>
		                    <td class="align-right">3</td>
		                  </tr>
		                </tbody>
		              </table>
		            </div>
		          </div>

		          <div class="cases__site hidden-sm">
		            <div class="cases__site-info">
		              <h4 class="cases__item-subtitle">Задача:</h4>
		              <p class="cases__item-text">Организация полного цикла продаж через Интернет. Поставлена цель по объему ежемесячных продаж.</p>

		              <h4 class="cases__item-subtitle">Результат:</h4>
		              <p class="cases__item-text">Цели достигнуты и перевыполнены. Разработан и постоянно развивается сайт. За счет контекста и продвижения достигнута посещаемость 30000 человек в день. shatura.com — No 1 среди мебельных магазинов в Рунете! </p>

		              <ul class="cases__to_do-list">
		                <li>Выполненная работа 1</li>
		                <li>Выполненная работа 1</li>
		                <li>Выполненная работа 1</li>
		              </ul>
		            </div>
		            <div class="cases__site-layout">
		              <div class="cases__site-images">
		                <img src="./images/article_carousel_img_1.jpg" alt="" class="cases__site-pic cases__site-pic--overlay">
		                <img src="./images/article_carousel_img_2.jpg" alt="" class="cases__site-pic cases__site-pic--static">
		              </div>
		            </div>
		          </div>

		          <div class="cases__item-review hidden-sm">
		            <div class="cases__item-quote">
		              <p class="cases__item-text">Короткая!!! выдержка из отзыва ровно в две строки. И далее дальше будет ссылка, чтобы прочитать. <a href="">Весь отзыв</a>
		              </p>
		            </div>
		            <div class="cases__item-author">
		              <h4 class="cases__item-author-name">Александр Носиков</h4>
		              <p class="cases__item-author-pos">Руководитель команды REDG team</p>
		            </div>
		          </div>

		          <a href="" class="cases__link-more">Открыть больше</a>
		        </div>
		      </div>

		    </div>

		    <div class="cases__pagination">
		      <div class="cases__pagination-arrow cases__pagination-prev">
		        <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
		        Предыдущий проект
		      </div>
		      <div class="cases__pagination-arrow cases__pagination-next">
		        Следующий проект
		        <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	
{% endblock %}