{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
	
	<div class="blog page-wrap">
		<div class="container">
			<div class="page-head">
				<div class="breadcrumb">
					<a href="" class="breadcrumb__link">Главная</a>
					<a href="" class="breadcrumb__link">Наш блог</a>
				</div>
				<h1 class="title">Наш блог</h1>
			</div>
			<div class="tabs-container">
				<ul class="tabs">
					<li class="tabs__item active js_tabs_mob">
						<a href="#content_1" class="tabs__link">Все статьи</a>
					</li>
					<li class="tabs__item js_tabs_mob">
						<a href="#content_2" class="tabs__link">Руководителю</a>
					</li>
					<li class="tabs__item js_tabs_mob">
						<a href="#content_3" class="tabs__link">Seo-продвижение</a>
					</li>
					<li class="tabs__item js_tabs_mob">
						<a href="#content_4" class="tabs__link">Контекстная реклама</a>
					</li>
					<li class="tabs__item js_tabs_mob">
						<a href="#content_5" class="tabs__link">Разработка сайтов</a>
					</li>
				</ul>

				<div id="content_1" class="blog__content">
					<div class="blog__grid">
						<div class="blog__grid-item">
							<div class="blog__article">
								<img src="./images/blog_img_1.jpg" alt="" class="blog__article-img">
								<div class="blog__article-content">
									<div class="blog__article-date">10 февраля 2017</div>
									<a href="" class="blog__article-title">Цвет и контраст — 2 важнейших элемента доступного дизайна</a>
									<a href="" class="blog__article-rubric">руководителю</a>
								</div>
							</div>
						</div>

						<div class="blog__grid-item blog__grid-item--has-bg">
							<div class="blog__article">
								<img src="./images/blog_img_3.jpg" alt="" class="blog__article-img blog__article-img--bg">
								<div class="blog__article-content">
									<div class="blog__article-date">10 февраля 2017</div>
									<a href="" class="blog__article-title">Как искусственный интеллект начал менять работу дизайнера</a>
									<a href="" class="blog__article-rubric">seo-продвижение</a>
								</div>
							</div>
						</div>

						<div class="blog__grid-item">
							<div class="blog__article">
								<img src="./images/blog_img_2.jpg" alt="" class="blog__article-img">
								<div class="blog__article-content">
									<div class="blog__article-date">10 февраля 2017</div>
									<a href="" class="blog__article-title">Новый язык дизайна на маркерной доске</a>
									<a href="" class="blog__article-rubric">контекстная рекмала</a>
								</div>
							</div>
						</div>

						<div class="blog__grid-item blog__grid-item--has-bg">
							<div class="blog__article">
								<img src="./images/blog_img_6.jpg" alt="" class="blog__article-img">
								<div class="blog__article-content">
									<div class="blog__article-date">10 февраля 2017</div>
									<a href="" class="blog__article-title">Дуплекс в веб-дизайне: обзор цветового тренда, который захватывает мир</a>
									<a href="" class="blog__article-rubric">агенство</a>
								</div>
							</div>
						</div>

						<div class="blog__grid-item">
							<div class="blog__article">
								<img src="./images/blog_img_4.jpg" alt="" class="blog__article-img">
								<div class="blog__article-content">
									<div class="blog__article-date">10 февраля 2017</div>
									<a href="" class="blog__article-title">Подборка Discover Weekly от Spotify: как машинное обучение находит для нас новую музыку</a>
									<a href="" class="blog__article-rubric">ui/ux</a>
								</div>
							</div>
						</div>
						<div class="blog__grid-item blog__grid-item--has-bg">
							<div class="blog__article">
								<img src="./images/blog_img_5.jpg" alt="" class="blog__article-img">
								<div class="blog__article-content">
									<div class="blog__article-date">10 февраля 2017</div>
									<a href="" class="blog__article-title">Сколько процентов населения составляют продвинутые пользователи? Все хуже, чем кажется</a>
									<a href="" class="blog__article-rubric">новости</a>
								</div>
							</div>
						</div>

						<div class="blog__grid-item blog__grid-item--text-only">
							<div class="blog__article">
								<div class="blog__article-content">
									<a href="" class="blog__article-title">Подписка на рассылку</a>
									<div class="blog__article-text">Идеи, которые нас вдохновляют, видео-интервью и переводы исследований, которые были нам полезны в процессе работы.</div>
									<div class="blog__field">
										<button type="submit" class="blog__field-next-btn">
											<svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#right_arrow'></use></svg>
										</button>
										<input type="email" placeholder="Ваш е-mail" class="blog__field-input">
									</div>
								</div>
							</div>
						</div>

						<div class="blog__grid-item blog__grid-item--has-bg">
							<div class="blog__article">
								<img src="./images/blog_img_7.jpg" alt="" class="blog__article-img">
								<div class="blog__article-content">
									<div class="blog__article-date">10 февраля 2017</div>
									<a href="" class="blog__article-title">Новый язык дизайна на маркерной доске</a>
									<a href="" class="blog__article-rubric">дизайн</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="content_2" class="blog__content">
					<div class="blog__grid">
						<div class="blog__grid-item">
							<div class="blog__article">
								<img src="./images/blog_img_1.jpg" alt="" class="blog__article-img">
								<div class="blog__article-content">
									<div class="blog__article-date">10 февраля 2017</div>
									<a href="" class="blog__article-title">Цвет и контраст — 2 важнейших элемента доступного дизайна</a>
									<a href="" class="blog__article-rubric">руководителю</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="content_3" class="blog__content">
					<div class="blog__grid">
						<div class="blog__grid-item">
							<div class="blog__article">
								<img src="./images/blog_img_1.jpg" alt="" class="blog__article-img">
								<div class="blog__article-content">
									<div class="blog__article-date">10 февраля 2017</div>
									<a href="" class="blog__article-title">Цвет и контраст — 2 важнейших элемента доступного дизайна</a>
									<a href="" class="blog__article-rubric">руководителю</a>
								</div>
							</div>
						</div>

						<div class="blog__grid-item">
							<div class="blog__article">
								<img src="./images/blog_img_2.jpg" alt="" class="blog__article-img">
								<div class="blog__article-content">
									<div class="blog__article-date">10 февраля 2017</div>
									<a href="" class="blog__article-title">Новый язык дизайна на маркерной доске</a>
									<a href="" class="blog__article-rubric">контекстная рекмала</a>
								</div>
							</div>
						</div>

						<div class="blog__grid-item blog__grid-item--has-bg">
							<div class="blog__article">
								<img src="./images/blog_img_7.jpg" alt="" class="blog__article-img">
								<div class="blog__article-content">
									<div class="blog__article-date">10 февраля 2017</div>
									<a href="" class="blog__article-title">Новый язык дизайна на маркерной доске</a>
									<a href="" class="blog__article-rubric">дизайн</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="content_4" class="blog__content">
					<div class="blog__grid">
						<div class="blog__grid-item">
							<div class="blog__article">
								<img src="./images/blog_img_1.jpg" alt="" class="blog__article-img">
								<div class="blog__article-content">
									<div class="blog__article-date">10 февраля 2017</div>
									<a href="" class="blog__article-title">Цвет и контраст — 2 важнейших элемента доступного дизайна</a>
									<a href="" class="blog__article-rubric">руководителю</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="content_5" class="blog__content">
					<div class="blog__grid">
						<div class="blog__grid-item">
							<div class="blog__article">
								<img src="./images/blog_img_1.jpg" alt="" class="blog__article-img">
								<div class="blog__article-content">
									<div class="blog__article-date">10 февраля 2017</div>
									<a href="" class="blog__article-title">Цвет и контраст — 2 важнейших элемента доступного дизайна</a>
									<a href="" class="blog__article-rubric">руководителю</a>
								</div>
							</div>
						</div>
						<div class="blog__grid-item">
							<div class="blog__article">
								<img src="./images/blog_img_2.jpg" alt="" class="blog__article-img">
								<div class="blog__article-content">
									<div class="blog__article-date">10 февраля 2017</div>
									<a href="" class="blog__article-title">Новый язык дизайна на маркерной доске</a>
									<a href="" class="blog__article-rubric">контекстная рекмала</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<button class="load-more">
				Больше статей
				<span class="load-more__icon">
					<svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
				</span>
			</button>
			
		</div>
	</div>
{% endblock %}