{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
	
	<div class="cases-list-page page-wrap">
		<div class="container">
			<div class="page-head">
				<a href="" class="link-back">
					<svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
					Назад в кейсы
				</a>
				<h1 class="title">Наши кейсы</h1>
			</div>
			<div class="tabs-container">
				<ul class="tabs">
					<li class="tabs__item active js_tabs_mob">
						<a href="#cases_list_1" class="tabs__link">Все статьи</a>
					</li>
					<li class="tabs__item js_tabs_mob">
						<a href="#cases_list_2" class="tabs__link">Seo-продвижение</a>
					</li>
					<li class="tabs__item js_tabs_mob">
						<a href="#cases_list_3" class="tabs__link">Контекстная реклама</a>
					</li>
					<li class="tabs__item js_tabs_mob">
						<a href="#cases_list_4" class="tabs__link">Разработка сайтов</a>
					</li>
				</ul>

				<div id="cases_list_1" class="cases-list">
					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>

					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>

					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>

					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>

					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>

					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>

					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>

					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>

					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>
				</div>

				<div id="cases_list_2" class="cases-list">
					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>

					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>

					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>
				</div>

				<div id="cases_list_3" class="cases-list">
					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>

					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>
				</div>

				<div id="cases_list_4" class="cases-list">
					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>

					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>

					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>

					<div class="cases-list__item">
						<a href="" class="cases-list__item-inner">
							<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
							<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
						</a>
					</div>
				</div>

				<button class="load-more">
					Больше кейсов
					<span class="load-more__icon">
						<svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
					</span>
				</button>
			</div>
		</div>
	</div>
	
	{% include 'shared/discount.html' %}
{% endblock %}