{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
	
	<div class="cases_page page-wrap">
		<div class="cases_page__head dark-bg">
			<div class="container">
				<div class="page-head">
					<a href="" class="link-back">
						<svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
						Назад в кейсы
					</a>
					<h1 class="title">Продвижение сайта event-агентства</h1>
				</div>
				<div class="cases_page__head-row">
					<p>Организация полного цикла продаж через Интернет.</p>
					<a href="" class="external-link">
						red-g.ru
						<svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#external_link_icon'></use></svg>
					</a>
				</div>
				<div class="cases_page__head-image">
					<img src="./images/cases_img_head.jpg" alt="">
				</div>
				
				<h4>Клиент</h4>
				<p>Организация полного цикла продаж через Интернет. Поставлена цель по объему ежемесячных продаж.</p>

				<h4>Задача</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
			</div>
		</div>
		<div class="container">
			<h2>Что было на старте</h2>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

			<img src="./images/article_img_1.jpg" alt="" class="has-shadow">

			<h2>Что мы сделали</h2>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
			<div class="cases_page__carousel">
				<div class="cases_page__carousel-item">
					<div class="cases_page__carousel-images">
						<div class="cases_page__carousel-dots"></div>
						<img src="./images/article_carousel_img_1.jpg" alt="" class="img-main">
						<img src="./images/article_carousel_img_2.jpg" alt="" class="img-cover">
					</div>
				</div>
				<div class="cases_page__carousel-item">
					<div class="cases_page__carousel-images">
						<div class="cases_page__carousel-dots"></div>
						<img src="./images/article_carousel_img_1.jpg" alt="" class="img-main">
						<img src="./images/article_carousel_img_2.jpg" alt="" class="img-cover">
					</div>
				</div>
				<div class="cases_page__carousel-item">
					<div class="cases_page__carousel-images">
						<div class="cases_page__carousel-dots"></div>
						<img src="./images/article_carousel_img_1.jpg" alt="" class="img-main">
						<img src="./images/article_carousel_img_2.jpg" alt="" class="img-cover">
					</div>
				</div>
			</div>
			<div class="cases_page__lists">
				<ul class="cases_page__list">
					<li>Возврат денежных средств при отсутствии</li>
					<li>Возмещение финансов при затягивании </li>
					<li>Снижаем стоимость до 0, если сайт попадает</li>
					<li>Возмещение финансов при несвоевременной </li>
				</ul>

				<ul class="cases_page__list">
					<li>Фиксированный максимальный бюджет</li>
					<li>Все условия сотрудничества внесены в договор</li>
					<li>Материальная ответственность прописана</li>
				</ul>	
			</div>
		</div>


		<div class="dark-bg">
			<div class="container">
				<h2>Результаты</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
				<div class="statistics cases_page__statistics">
					<div class="statistics__graph">
						<h5>Посещаемость</h5>
						<img src="./images/statistics_img.png" alt="" class="statistics__pic">
					</div>

					<div class="statistics__tables">
						<table>
							<thead>
								<tr>
									<td><h5>Запрос</h5></td>
									<td class="align-right"><h5>Место</h5></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Название запроса</td>
									<td class="align-right">3</td>
								</tr>
								<tr>
									<td>Название запроса</td>
									<td class="align-right">3</td>
								</tr>
								<tr>
									<td>Название запроса</td>
									<td class="align-right">3</td>
								</tr>
								<tr>
									<td>Название запроса</td>
									<td class="align-right">3</td>
								</tr>
								<tr>
									<td>Название запроса</td>
									<td class="align-right">3</td>
								</tr>
							</tbody>
						</table>

						<table>
							<thead>
								<tr>
									<td><h5>Запрос</h5></td>
									<td class="align-right"><h5>Место</h5></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Название запроса</td>
									<td class="align-right">3</td>
								</tr>
								<tr>
									<td>Название запроса</td>
									<td class="align-right">3</td>
								</tr>
								<tr>
									<td>Название запроса</td>
									<td class="align-right">3</td>
								</tr>
								<tr>
									<td>Название запроса</td>
									<td class="align-right">3</td>
								</tr>
								<tr>
									<td>Название запроса</td>
									<td class="align-right">3</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="cases_page__goal">
					<div class="cases_page__goal-item">
						<h3 class="cases_page__goal-title">01</h3>
						<div class="cases_page__goal-text">Создать гибкую систему формирования и настройки предложений для клиентов</div>
					</div>
					<div class="cases_page__goal-item">
						<h3 class="cases_page__goal-title">01</h3>
						<div class="cases_page__goal-text">Повысить лояльность потенциальных клиентов и сотрудников компании</div>
					</div>
					<div class="cases_page__goal-item">
						<h3 class="cases_page__goal-title">01</h3>
						<div class="cases_page__goal-text">Обновить дизайн сайта, сделав его актуальным и современным</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container more-cases">
		<div class="title">Еще кейсы</div>
		<div class="cases-list carousel_mobile_has_dots">
			<div class="cases-list__item">
				<a href="" class="cases-list__item-inner">
					<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
					<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
				</a>
			</div>

			<div class="cases-list__item">
				<a href="" class="cases-list__item-inner">
					<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
					<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
				</a>
			</div>

			<div class="cases-list__item">
				<a href="" class="cases-list__item-inner">
					<img src="./images/more-article_1.jpg" alt="" class="cases-list__item-img">
					<p class="cases-list__item-text">Продвижение сайта <br>  event-агентства</p>
				</a>
			</div>
		</div>
	</div>

	{% include 'shared/discount.html' %}
{% endblock %}