{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
	
	<div class="contacts page-wrap">
		<div class="container">
			<div class="contacts__info">
				<div class="contacts__info-item">
					<div class="contacts__info-title">Телефон:</div>
					<a href="tel:8 800 323-43-34" class="contacts__info-phone">8 800 323-43-34</a>
				</div>
				<div class="contacts__info-item">
					<div class="contacts__info-title">Адрес:</div>
					<div class="contacts__info-location">г. Самара, ул. Такая-то, д.23, кв.23</div>
				</div>
				<div class="contacts__info-item">
					<div class="contacts__info-title">E-mail:</div>
					<a href="mailto:info@lzmedia.ru" class="contacts__info-email">info@lzmedia.ru</a>
				</div>

				<button class="btn  btn--md btn--primary">Написать нам</button>

				<div class="contacts__social">
					<a href="" class="contacts__social-link">
						<svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#vk'></use></svg>
					</a>
					<a href="" class="contacts__social-link">
						<svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#facebook-logo'></use></svg>
					</a>
					<a href="" class="contacts__social-link">
						<svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#instagram'></use></svg>
					</a>
				</div>
			</div>
		</div>

		<div id="map"></div>
	</div>
{% endblock %}

<script src="./javascripts/maps.js"></script>