{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="hero">
    <div class="container">
      <div class="hero__content">
        <div class="breadcrumb">
          <a href="" class="breadcrumb__link">Главная</a>
          <a href="" class="breadcrumb__link">Отзывы</a>
        </div>
        <h1 class="hero__title hero__title--sm hero__title--mobile-xs">
          Создание и разработка продающих сайтов
          <div class="hero__title-descr">с финансовой гарантией результата</div>
        </h1>
        
        <div class="hero__form">
          <form action="" class="form">
            <p class="hero__form-caption">Получите коммерческое предложение прямо сейчас</p>
            <div class="form__row">
              <input type="text" placeholder="Ваше имя" class="form__field form__field--sm">
              <input type="text" placeholder="Ваш телефон" class="form__field form__field--sm">
            </div>

            <div class="form__row">
              <input type="text" placeholder="E-mail" class="form__field form__field--sm">
              <input type="text" placeholder="Адрес сайта" class="form__field form__field--sm">
            </div>
            <div class="hero__form-footer form__row">
              <button class="btn btn--primary btn--md">Получить предложение</button>
            </div>
          </form>
        </div>
      </div>

      <div class="hero__image">
        <img src="./images/hero_img_development.svg" alt="" class="hero__image-pic">
      </div>
    </div>
  </div>

  <div class="services">
    <div class="container">
      <div class="services__title title wow fadeIn" data-wow-delay="0.4s">Какие сайты мы делаем?</div>

      <div class="services__list wow fadeIn" data-wow-delay="0.1s">
        <div class="services__item wow fadeIn" data-wow-delay="0.1s">
          <div class="services__item-name">Корпоративный сайт</div>
          <div class="services__item-img_holder">
            <img src="./images/services_1.svg" alt="" class="services__item-img">
          </div>
          <div class="services__item-price">от 10 000 руб.</div>
          <a href="" class="services__item-more">Узнать больше</a>
        </div>
        <div class="services__item wow fadeIn" data-wow-delay="0.2s">
          <div class="services__item-name">Сайт-визитка</div>
          <div class="services__item-img_holder">
            <img src="./images/services_2.svg" alt="" class="services__item-img">
          </div>
          <div class="services__item-price">от 10 000 руб.</div>
          <a href="" class="services__item-more">Узнать больше</a>
        </div>
        <div class="services__item wow fadeIn" data-wow-delay="0.3s">
          <div class="services__item-name">Landing Page</div>
          <div class="services__item-img_holder">
            <img src="./images/services_3.svg" alt="" class="services__item-img">
          </div>
          <div class="services__item-price">от 10 000 руб.</div>
          <a href="" class="services__item-more">Узнать больше</a>
        </div>
        <div class="services__item wow fadeIn" data-wow-delay="0.4s">
          <div class="services__item-name">Интернет-магазин</div>
          <div class="services__item-img_holder">
            <img src="./images/services_4.svg" alt="" class="services__item-img">
          </div>
          <div class="services__item-price">от 10 000 руб.</div>
          <a href="" class="services__item-more">Узнать больше</a>
        </div>
      </div>
    </div>
  </div>

  <div class="advantage">
    <div class="container">
      <div class="advantage__title title wow fadeIn" data-wow-delay="0.1s">Вам не нужен сайт. Вам нужны клиенты!</div>
      <p class="advantage__descr wow fadeIn" data-wow-delay="0.2s">Мы понимаем, что сайт – лишь способ привлечения новых клиентов, поэтому он обладает всем необходимым для получения максимально возможного количества посетителей.</p>

      <div class="advantage__list">
        <div class="advantage__item wow fadeIn" data-wow-delay="0.1s">
          <div class="advantage__icon">
            <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#shopping-cart'></use></svg>
          </div>
          <div class="advantage__item-content">
            <div class="advantage__item-title">Направленный <br> на продажи</div>
            <p class="advantage__item-text">Изучаем ваш рынок, берем best practices конкурентов, добавляем собственные знания в повышении конверсии сайтов – получаем сайт, максимально готовый к продажам.</p>
          </div>
        </div>

        <div class="advantage__item wow fadeIn" data-wow-delay="0.2s">
          <div class="advantage__icon">
            <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#goal'></use></svg>
          </div>
          <div class="advantage__item-content">
            <div class="advantage__item-title">SEO-friendly</div>
            <p class="advantage__item-text">50% успеха в SEO – грамотная техническая оптимизация сайта. Учитываем все тонкости, делаем ваш сайт более привлекательным в выдаче – получаем более высокие позиции в Яндекс и Google.</p>
          </div>
        </div>

        <div class="advantage__item wow fadeIn" data-wow-delay="0.1s">
          <div class="advantage__icon">
            <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#history'></use></svg>
          </div>
          <div class="advantage__item-content">
            <div class="advantage__item-title">Интересный</div>
            <p class="advantage__item-text">Вторые 50% - качество контента. Время – деньги. У вас, как у собственника бизнеса, время – одновременно главный и наиболее дефицитный ресурс. Подготовку контента для нового сайта готовы взять на себя наши опытные копирайтеры и профессиональные фотографы.</p>
          </div>
        </div>

        <div class="advantage__item wow fadeIn" data-wow-delay="0.2s">
          <div class="advantage__icon">
            <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#medal'></use></svg>
          </div>
          <div class="advantage__item-content">
            <div class="advantage__item-title">Удобный</div>
            <p class="advantage__item-text">Можно сделать сколь угодно красивый и модный сайт, но если вашей ЦА он непонятен – деньги будут потрачены зря. Мы делаем наши сайты интуитивно понятными для каждого вашего посетителя и обладающими удобной навигацией.</p>
          </div>
        </div>

        <div class="advantage__item wow fadeIn" data-wow-delay="0.1s">
          <div class="advantage__icon">
            <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#event'></use></svg>
          </div>
          <div class="advantage__item-content">
            <div class="advantage__item-title">Современный</div>
            <p class="advantage__item-text">Общеизвестно, что сайт должен одинаково хорошо выглядеть во всех браузерах и на всех устройствах. Помимо этого, немаловажную роль играет скорость загрузки сайта. Максимально оптимизируем всю техническую сторону сайта, чтобы повысить скорость загрузки до возможного максимума.</p>
          </div>
        </div>

        <div class="advantage__item wow fadeIn" data-wow-delay="0.2s">
          <div class="advantage__icon">
            <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#reminder'></use></svg>
          </div>
          <div class="advantage__item-content">
            <div class="advantage__item-title">Простой <br> в использовании</div>
            <p class="advantage__item-text">Мы не замыкаем развитие сайта на себе. Проводим обучение ваших сотрудников по использованию панели администратора. Как результат – ваш персонал может создавать новые страницы сам и сайт развивается быстрее, чем сайты конкурентов.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% include 'shared/cases.html' %}
  
  <div class="steps">
    <div class="container">
      <div class="steps__title title">Этапы работы</div>
      <div class="carousel_mobile_has_dots">
        <div class="steps__item wow fadeIn" data-wow-delay="0.1s">
          <div class="steps__item-image">
            <img src="./images/steps_1.svg" alt="">
          </div>
          <div class="steps__item-content">
            <div class="steps__item-title">Подготовительный маркетинг</div>
            <ul>
              <li>Проводим анализ ниши, целевой аудитории и конкурентов</li>
              <li>Отсеиваем нецелевую аудиторию</li>
              <li>Планируем рекламные кампании и акции в период повышенного сезонного спроса</li>
            </ul>
          </div>
        </div>

        <div class="steps__item wow fadeIn" data-wow-delay="0.1s">
          <div class="steps__item-image">
            <img src="./images/steps_2.svg" alt="">
          </div>
          <div class="steps__item-content">
            <div class="steps__item-title">Разработка и дизайн сайта</div>
            <ul>
              <li>Проводим анализ ниши, целевой аудитории и конкурентов</li>
              <li>Отсеиваем нецелевую аудиторию</li>
              <li>Планируем рекламные кампании и акции в период повышенного сезонного спроса</li>
            </ul>
          </div>
        </div>

        <div class="steps__item wow fadeIn" data-wow-delay="0.1s">
          <div class="steps__item-image">
            <img src="./images/steps_3.svg" alt="">
          </div>
          <div class="steps__item-content">
            <div class="steps__item-title">Контентные работы по сайту</div>
            <ul>
              <li>Проводим анализ ниши, целевой аудитории и конкурентов</li>
              <li>Отсеиваем нецелевую аудиторию</li>
              <li>Планируем рекламные кампании и акции в период повышенного сезонного спроса</li>
            </ul>
          </div>
        </div>

        <div class="steps__item wow fadeIn" data-wow-delay="0.1s">
          <div class="steps__item-image">
            <img src="./images/steps_4.svg" alt="">
          </div>
          <div class="steps__item-content">
            <div class="steps__item-title">Запуск и развитие сайта</div>
            <ul>
              <li>Проводим анализ ниши, целевой аудитории и конкурентов</li>
              <li>Отсеиваем нецелевую аудиторию</li>
              <li>Планируем рекламные кампании и акции в период повышенного сезонного спроса</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="calc wow fadeIn" data-wow-delay="0.1s">
    <div class="container wow fadeIn" data-wow-delay="0.3s">
      <div class="calc__nav">
        <div class="calc__progress">
          <div class="calc__progress-bar">
            <div class="calc__progress-inner" style="width: 25%;"></div>
          </div>
          <div class="calc__progress-steps">Шаг 1 из 4</div>
        </div>

        <div class="calc__info">
          <a href="" class="calc__info-link js-tab-trigger active" data-tab="1">Тип сайта</a>
          <a href="" class="calc__info-link js-tab-trigger" data-tab="2">Стадия разработки</a>
          <a href="" class="calc__info-link js-tab-trigger" data-tab="3">Информация о сайте</a>
          <a href="" class="calc__info-link js-tab-trigger" data-tab="4">Контакты</a>
        </div>
      </div>
      <div class="calc__content js-tab-content active" data-tab="1">
        <form action="">
          <div class="form">
            <div class="calc__title">Выберите тип Вашего сайта</div>
            <div class="calc__cards">
              <label class="calc__card">
                <input type="radio" name="group_tz">
                <label for=""></label>
                <div class="calc__card-icon">
                  <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#viral_marketing'></use></svg>
                </div>
                <div class="calc__card-title">Портал</div>
              </label>

              <label class="calc__card">
                <input type="radio" name="group_tz">
                <div class="calc__card-icon">
                  <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#online_shop'></use></svg>
                </div>
                <div class="calc__card-title">Интернет-магазин</div>
              </label>

              <label class="calc__card">
                <input type="radio" name="group_tz">
                <div class="calc__card-icon">
                  <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#website'></use></svg>
                </div>
                <div class="calc__card-title">Сайт-каталог</div>
              </label>

              <label class="calc__card">
                <input type="radio" name="group_tz">
                <div class="calc__card-icon">
                  <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#portfolio'></use></svg>
                </div>
                <div class="calc__card-title">Корпоративный сайт</div>
              </label>

              <label class="calc__card">
                <input type="radio" name="group_tz">
                <div class="calc__card-icon">
                  <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#consumer'></use></svg>
                </div>
                <div class="calc__card-title">Сайт-визитка</div>
              </label>

              <label class="calc__card">
                <input type="radio" name="group_tz">
                <div class="calc__card-icon">
                  <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#send'></use></svg>
                </div>
                <div class="calc__card-title">Landing Page</div>
              </label>

              <label class="calc__card">
                <input type="radio" name="group_tz">
                <div class="calc__card-icon">
                  <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#graduate'></use></svg>
                </div>
                <div class="calc__card-title">Другое</div>
              </label>
            </div>
            <div class="calc__content-footer">
              <button class="btn btn--md btn--primary calc__next">Следующий вопрос</button>
            </div>
          </div>
        </form>
      </div>

      <div id="" class="calc__content js-tab-content"  data-tab="2">
        <form action="">
          <div class="form">
            <div class="calc__title">В каком состоянии сейчас ваш проект?</div>

            <div class="calc__cards">
              <label class="calc__card">
                <input type="radio" name="group_stage">
                <label for=""></label>
                <div class="calc__card-icon">
                  <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#wizard'></use></svg>
                </div>
                <div class="calc__card-title">Новый</div>
              </label>

              <label class="calc__card">
                <input type="radio" name="group_stage">
                <div class="calc__card-icon">
                  <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#feature'></use></svg>
                </div>
                <div class="calc__card-title">Существующий</div>
              </label>
            </div>
            <div class="calc__content-footer">
              <button class="btn btn--md btn--primary calc__next">Следующий вопрос</button>
            </div>
          </div>
        </form>
      </div>

      <div id="" class="calc__content js-tab-content"  data-tab="3">
        <form action="">
          <div class="form">
            <div class="calc__title">Как быстро вы хотите начать?</div>

            <div class="calc__cards">

              <label class="calc__card">
                <input type="radio" name="group_info">
                <div class="calc__card-icon">
                  <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#hourglass'></use></svg>
                </div>
                <div class="calc__card-title">Немедленно</div>
              </label>
              <label class="calc__card">
                <input type="radio" name="group_info">
                <div class="calc__card-icon">
                  <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#appointment'></use></svg>
                </div>
                <div class="calc__card-title">В течении недели</div>
              </label>
              <label class="calc__card">
                <input type="radio" name="group_info">
                <div class="calc__card-icon">
                  <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#october'></use></svg>
                </div>
                <div class="calc__card-title">В течении месяца</div>
              </label>
            </div>
            <div class="calc__content-footer">
              <button class="btn btn--md btn--primary calc__next">Следующий вопрос</button>
            </div>
          </div>
        </form>
        
      </div>

      <div id="" class="calc__content calc__content--contacts js-tab-content"  data-tab="4">
        <form action="">
          <div class="form">
            <div class="calc__title">Укажите ваши контактные данные </div>
            <div class="form__row">
              <input type="text" placeholder="Ваше имя" class="form__field">
              <input type="text" placeholder="Ваш телефон" class="form__field">
              <input type="text" placeholder="E-mail" class="form__field">
            </div>
            <div class="form__row">
              <input type="text" placeholder="Адрес сайта (если есть)" class="form__field">
            </div>
            <textarea name="" id="" placeholder="Любые иные пожелания или вопросы (если есть)" class="form__textarea"></textarea>

            <label class="form__label">
              <input type="checkbox" checked="" class="form__checkbox">
              <span class="form__custom-checkbox"></span>
              <span class="form__label-text">Отправляя сообщение, я принимаю пользовательское соглашение и согласен с &nbsp;<a href="">политикой обработки данных</a></span>
            </label>
            
            <div class="calc__content-footer">
              <button class="btn btn--md btn--primary">Отправить форму</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
{% endblock %}
