{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="hero">
    <div class="container">
      <div class="hero__decor_ellipse"></div>
      <div class="hero__content">
        <h1 class="hero__title">
          <span>Эффективное </span>
          <br>
          продвижение сайтов в ТОП
          <br>
          <span class="hero__title-accent">яндекс и google</span>
        </h1>
        <div class="hero__form">
          <form action="" class="form">
            <p class="hero__form-caption">Узнайте стоимость и сроки продвижения вашего сайта:</p>
            <div class="form__row">
              <input type="text" id="get_value" placeholder="Ваш сайт" class="form__field form__field--md">
              <a href="#get_price" class="btn btn--sm btn--primary modal-link">Узнать стоимость</a>
            </div>
          </form>
        </div>
        <div class="hero__benefits">
          <div class="hero__benefits-item is-active">
            <div class="hero__benefits-pagination"></div>
            <div class="hero__benefits-inner">
              <div class="hero__benefits-content">
                <svg viewBox="0 0 1 1" width="50" height="50" class="hero__benefits-icon"><use xlink:href='./images/icons.svg#infinity'></use></svg>
                <p class="hero__benefits-text">
                  Продвигаем <span>неограниченное число</span> ключевых слов и страниц сайта
                </p>
              </div>
            </div>
          </div>

          <div class="hero__benefits-item">
            <div class="hero__benefits-pagination"></div>
            <div class="hero__benefits-inner">
              <div class="hero__benefits-content">
                <svg viewBox="0 0 1 1" width="50" height="50" class="hero__benefits-icon"><use xlink:href='./images/icons.svg#post_it_icon'></use></svg>
                <p class="hero__benefits-text">
                  Работаем по стандартам 2018 года
                </p>
              </div>
            </div>
          </div>

          <div class="hero__benefits-item">
            <div class="hero__benefits-pagination"></div>
            <div class="hero__benefits-inner">
              <div class="hero__benefits-content">
                <svg viewBox="0 0 1 1" width="50" height="50" class="hero__benefits-icon"><use xlink:href='./images/icons.svg#document_icon'></use></svg>
                <p class="hero__benefits-text">
                  Только белые методы продвижения исключаем риск попадания под фильтр
                </p>
              </div>
            </div>
          </div>

          <div class="hero__benefits-item">
            <div class="hero__benefits-pagination"></div>
            <div class="hero__benefits-inner">
              <div class="hero__benefits-content">
                <svg viewBox="0 0 1 1" width="50" height="50" class="hero__benefits-icon"><use xlink:href='./images/icons.svg#guarantee_icon'></use></svg>
                <p class="hero__benefits-text">
                  Предоставляем финансовыеи юридические гарантии
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="hero__image">
        <img src="./images/hero_img_index.svg" alt="" class="hero__image-pic">
      </div>
    </div>
  </div>

  <div class="promo">
    <div class="container">
      <div data-wow-delay="0.3s" data-wow-offset="10" class="promo__header wow fadeIn">
        <h2 class="promo__title">Увеличиваем продажи <br> и развиваем ваш бизнес в интернете</h2>
        <p class="promo__descr">Наша задача – представить ваш товар или услугу пользователю лучше, чем это делают конкуренты. Выбираем стратегию максимально подходящую вашему бизнесу, оптимизируя бюджет.</p>
      </div>
      <div class="promo__list carousel_mobile_has_arrows wow fadeIn" data-wow-delay="0.2s">
        <div class="promo__item wow fadeIn" data-wow-delay="0.2s">
          <img src="./images/promo_1.svg" alt="" class="promo__item-img">
          <div class="promo__item-content">
            <a href="" class="promo__item-title">SEO-продвижение </a>
            <a href="" class="promo__item-link">Молодые сайты</a>
            <a href="" class="promo__item-link">Интернет-магазины</a>
            <a href="" class="promo__item-link">Продвижение региональных сайтов</a>
            <a href="" class="promo__item-link">Продвижение лэндингов</a>
            <div class="promo__item-price">от 20 000 руб.</div>
          </div>
          <a href="" class="promo__item-more">
            <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
          </a>
        </div>

        <div class="promo__item wow fadeIn" data-wow-delay="0.3s">
          <img src="./images/promo_2.svg" alt="" class="promo__item-img">
          <div class="promo__item-content">
            <a href="" class="promo__item-title">Контекстная реклама</a>
            <a href="" class="promo__item-link">Молодые сайты</a>
            <a href="" class="promo__item-link">Интернет-магазины</a>
            <a href="" class="promo__item-link">Продвижение региональных сайтов</a>
            <a href="" class="promo__item-link">Продвижение лэндингов</a>
            <div class="promo__item-price">от 8 000 руб.</div>
          </div>
          <a href="" class="promo__item-more">
            <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
          </a>
        </div>

        <div class="promo__item wow fadeIn" data-wow-delay="0.4s">
          <img src="./images/promo_3.svg" alt="" class="promo__item-img">
          <div class="promo__item-content">
            <a href="" class="promo__item-title">Разработка сайтов</a>
            <a href="" class="promo__item-link">Молодые сайты</a>
            <a href="" class="promo__item-link">Интернет-магазины</a>
            <a href="" class="promo__item-link">Продвижение региональных сайтов</a>
            <a href="" class="promo__item-link">Продвижение лэндингов</a>
            <div class="promo__item-price">от 25 000 руб.</div>
          </div>
          <a href="" class="promo__item-more">
            <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
          </a>
        </div>
      </div>
      <div class="carousel-arrows">
        <div class="carousel-arrow carousel-arrow--prev">
          <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
        </div>
        <div class="carousel-arrow carousel-arrow--next">
          <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
        </div>
      </div>
    </div>
  </div>
  
  {% include 'shared/cases.html' %}

  <div class="game wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
      <h2 class="game__title wow fadeIn" data-wow-delay="0.2s">Играем по схеме 4-4-2</h2>
      <p class="game__descr wow fadeIn" data-wow-delay="0.3s">У Вас может быть очень крутая и надежная команда, но если ворота пусты, то матч всегда будет заканчиваться поражением. Помните, что лучше иметь небольшой, но стабильный бюджет, чем пытаться ухватиться за сразу за все, а затем отказываться от принятой стратегии.</p>
      <div class="game__list wow fadeIn" data-wow-delay="0.4s">
        <div class="game__item">
          <div class="game__item-wrapper">
            <div class="game__players">
              <a href="#game_modal" class="game__player modal-link">
                <h4 class="game__player-name">Вратарь</h4>
                <p class="game__player-caption">Бюджет</p>
                <img src="./images/goalkeeper.svg" alt="" class="game__player-img">
              </a>
            </div>
            <img src="./images/goalkeeper_bg.png" alt="" class="game__item-bg">
          </div>
        </div>

        <div class="game__item">
          <div class="game__item-wrapper">
            <div class="game__players">
              <a href="#game_modal" class="game__player modal-link">
                <h4 class="game__player-name">Левый Защитник</h4>
                <p class="game__player-caption">Поведенческие факторы</p>
                <img src="./images/defender_1.svg" alt="" class="game__player-img">
              </a>

               <a href="#game_modal" class="game__player modal-link">
                <h4 class="game__player-name">Центральный защитник</h4>
                <p class="game__player-caption">Текстовая оптимизация</p>
                <img src="./images/defender_2.svg" alt="" class="game__player-img">
              </a>

              <a href="#game_modal" class="game__player modal-link">
                <h4 class="game__player-name">Центральный защитник </h4>
                <p class="game__player-caption">Внешняя оптимизация</p>
                <img src="./images/defender_3.svg" alt="" class="game__player-img">
              </a>

              <a href="#game_modal" class="game__player modal-link">
                <h4 class="game__player-name">Правый защитник</h4>
                <p class="game__player-caption">Привлекательность сниппета</p>
                <img src="./images/defender_4.svg" alt="" class="game__player-img">
              </a>

            </div>
            <img src="./images/defender_bg.png" alt="" class="game__item-bg">
          </div>
        </div>

        <div class="game__item">
          <div class="game__item-wrapper">
            <div class="game__players">
              <a href="#game_modal" class="game__player modal-link">
                <h4 class="game__player-name">Левый полузащитник</h4>
                <p class="game__player-caption">Скорость загрузки</p>
                <img src="./images/halfback_1.svg" alt="" class="game__player-img">
              </a>

              <a href="#game_modal" class="game__player modal-link">
                <h4 class="game__player-name">Центральный полузащитник</h4>
                <p class="game__player-caption">Usability</p>
                <img src="./images/halfback_2.svg" alt="" class="game__player-img">
              </a>

              <a href="#game_modal" class="game__player modal-link">
                <h4 class="game__player-name">Центральный полузащитник</h4>
                <p class="game__player-caption">SEO-friendly разработка</p>
                <img src="./images/halfback_3.svg" alt="" class="game__player-img">
              </a>

              <a href="#game_modal" class="game__player modal-link">
                <h4 class="game__player-name">Правый полузащитник</h4>
                <p class="game__player-caption">Адаптивная верстка</p>
                <img src="./images/halfback_4.svg" alt="" class="game__player-img">
              </a>

            </div>
            <img src="./images/halfback_bg.png" alt="" class="game__item-bg">
          </div>
        </div>

        <div class="game__item">
          <div class="game__item-wrapper">
            <div class="game__players">
              <a href="#game_modal" class="game__player modal-link">
                <h4 class="game__player-name">Левый нападающий</h4>
                <p class="game__player-caption">Яндекс.Директ</p>
                <img src="./images/forward_left.svg" alt="" class="game__player-img">
              </a>

              <a href="#game_modal" class="game__player modal-link">
                <h4 class="game__player-name">Правый нападающий</h4>
                <p class="game__player-caption">Google.Adwords</p>
                <img src="./images/forward_right.svg" alt="" class="game__player-img">
              </a>

            </div>
            <img src="./images/forward_bg.png" alt="" class="game__item-bg">
          </div>
        </div>

      </div>
    </div>

    <div class="game__field">
      <div class="game__field-inner">
        <div class="game__field-goalkeeper">
          <a href="#game_modal" class="game__field-player modal-link">
            <div class="game__field-icon">
              <svg viewBox="0 0 1 1" class='budget-icon'><use xlink:href='./images/icons.svg#budget_icon'></use></svg>
            </div>
            <p class="game__field-text">Бюджет</p>
          </a>
        </div>

        <div class="game__field-row">
          <div class="game__field-fullback">
            <a href="#game_modal" class="game__field-player modal-link">
              <div class="game__field-icon">
                <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#chronometer_icon'></use></svg>
              </div>
              <p class="game__field-text">Скорость загрузки</p>
            </a>
          </div>
        
          <div class="game__field-centreback">
            <a href="#game_modal" class="game__field-player modal-link">
              <div class="game__field-icon">
                <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#yandex_icon'></use></svg>
              </div>
              <p class="game__field-text">Янлекс.Директ</p>
            </a>
            <a href="#game_modal" class="game__field-player modal-link">
              <div class="game__field-icon">
                <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#adwords_icon'></use></svg>
              </div>
              <p class="game__field-text">Google Adwords</p>
            </a>
          </div>

          <div class="game__field-fullback">
            <a href="#game_modal" class="game__field-player modal-link">
              <div class="game__field-icon">
                <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#smartphone_icon'></use></svg>
              </div>
              <p class="game__field-text">Адаптивная верстка</p>
            </a>
          </div>
        </div>

        <div class="game__field-row">
          <div class="game__field-midfield">
            <a href="#game_modal" class="game__field-player modal-link">
              <div class="game__field-icon">
                <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#click_cursor_icon'></use></svg>
              </div>
              <p class="game__field-text">Поведенческие факторы</p>
            </a>
          </div>
          
          <div class="game__field-centre_midfield">
            <a href="#game_modal" class="game__field-player modal-link">
              <div class="game__field-icon">
                <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#buy_icon'></use></svg>
              </div>
              <p class="game__field-text">Usability</p>
            </a>
            <a href="#game_modal" class="game__field-player modal-link">
              <div class="game__field-icon">
                <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#startup_icon'></use></svg>
              </div>
              <p class="game__field-text">Seo-friendly разработка</p>
            </a>
          </div>

          <div class="game__field-midfield">
            <a href="#game_modal" class="game__field-player modal-link">
              <div class="game__field-icon">
                <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#website_icon'></use></svg>
              </div>
              <p class="game__field-text">Привлекательность сниппета</p>
            </a>
          </div>
        </div>

        <div class="game__field-forward">
          <a href="#game_modal" class="game__field-player modal-link">
            <div class="game__field-icon">
              <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#text_tool_icon'></use></svg>
            </div>
            <p class="game__field-text">Текстовая оптимизация</p>
          </a>
          <a href="#game_modal" class="game__field-player modal-link">
            <div class="game__field-icon">
              <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#website_outside_icon'></use></svg>
            </div>
            <p class="game__field-text">Внешняя оптимизация</p>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="team">
    <div class="container">
      <div class="wow fadeIn" data-wow-delay="0.3s">
        <h2 class="team__title">Кто будет работать над вашим проектом?</h2>
        <p class="team__caption">Над Вашим сайтом будет работать целая команда, Вам нужно будет потратить лишь 1 час рабочего времени в месяц на контроль выполненных работ и достигнутых результатов.</p>
      </div>
      
      <div class="team__list wow fadeIn" data-wow-delay="0.3s">
        <div class="team__item">
          <img src="./images/team_1.png" alt="" class="team__item-img">
          <p class="team__item-position">Руководитель </p>
        </div>
        <div class="team__item">
          <img src="./images/team_2.png" alt="" class="team__item-img">
          <p class="team__item-position">SEO-специалист </p>
        </div>
        <div class="team__item">
          <img src="./images/team_3.png" alt="" class="team__item-img">
          <p class="team__item-position">Программист </p>
        </div>
        <div class="team__item">
          <img src="./images/team_4.png" alt="" class="team__item-img">
          <p class="team__item-position">Верстальщик</p>
        </div>
        <div class="team__item">
          <img src="./images/team_5.png" alt="" class="team__item-img">
          <p class="team__item-position">Дизайнер</p>
        </div>
        <div class="team__item">
          <img src="./images/team_6.png" alt="" class="team__item-img">
          <p class="team__item-position">Аналитик</p>
        </div>
        <div class="team__item">
          <img src="./images/team_7.png" alt="" class="team__item-img">
          <p class="team__item-position">Копирайтер </p>
        </div>
      </div>

      <div class="team__arrows">
        <div class="team__arrow team__arrow--prev">
          <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
        </div>
        <div class="team__arrow team__arrow--next">
          <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
        </div>
      </div>
      <div class="contract wow fadeIn" data-wow-delay="0.3s">
        <div class="contract__decor_ellipse"></div>
        <a href="./images/contract_img.jpg" class="contract__img hidden-sm modal-link">
          <img src="./images/contract_img.jpg" alt="" class="contract__img-pic">
          <div class="contract__img-hover">
            <svg viewBox="0 0 1 1" class="search-icon"><use xlink:href='./images/icons.svg#search_icon'></use></svg>
          </div>
        </a>
        <div class="contract__info">
          <h3 class="contract__info-title">Финансовая и юридическая ответственность закреплена в договоре</h3>
          <ul class="contract__info-list">
            <li>Возврат денежных средств при отсутствии результата</li>
            <li>Возмещение финансов при затягивании сроков</li>
            <li>Снижаем стоимость до 0, если сайт попадает под фильтр</li>
            <li>Возмещение финансов при несвоевременной отчетности</li>
            <li>Фиксированный максимальный бюджет</li>
            <li>Все условия сотрудничества внесены в договор</li>
            <li>Материальная ответственность прописана в договоре </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="game_modal" class="modal modal_game">
    <div class="modal_game__inner">
      <div class="modal_game__image">
        <img src="./images/goalkeeper.svg" alt="" class="modal_game__image-pic">
      </div>
      <div class="modal_game__content">
        <h4 class="modal_game__title">Правый нападающий копия</h4>
        <p class="modal_game__caption">Google.Adwords</p>
        <p class="modal_game__text">Часто в Google Adwords конкуренция и ставки ниже, чем в Яндекс.Директе. Плюс, не стоит забывать, что на Google приходится 50% рынка, поэтому упускать его из виду не стоит.</p>

        <button class="btn btn--primary">Заказать продвижение</button>
      </div>
      <button class="modal_game__link-back" data-fancybox-close>
         <svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
        Назад к списку
      </button>
    </div>
  </div>

  {% include 'shared/discount.html' %}
{% endblock %}
