{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
	
	<div class="page-reviews page-wrap">
		<div class="container">
			<div class="page-head">
				<div class="breadcrumb">
					<a href="" class="breadcrumb__link">Главная</a>
					<a href="" class="breadcrumb__link">Отзывы</a>
				</div>
				<h1 class="title">Отзывы о нас</h1>
			</div>

			<div class="review">
				<div class="review__row">
					<div class="review__content">
						<p class="review__site">red-g.ru</p>
						<h3 class="review__title">Агенство тимбилдингов REDG</h3>
						<div class="review__text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
						</div>
						<div class="review__author">
							<h4 class="review__author-name">Александр Носиков</h4>
							<p class="review__author-pos">Руководитель команды REDG team</p>
						</div>
					</div>
					<div class="review__contract hidden-sm">
						<a href="./images/contract_img.jpg" class="contract contract--sm modal-link">
							<div class="contract__img">
								<img src="./images/contract_img.jpg" alt="" class="contract__img-pic">
								<div class="contract__img-hover">
									<svg viewBox="0 0 1 1" class="search-icon"><use xlink:href='./images/icons.svg#search_icon'></use></svg>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>

			<div class="review">
				<div class="review__content">
					<p class="review__site">red-g.ru</p>
					<h3 class="review__title">Агенство тимбилдингов REDG</h3>
					<div class="review__text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
					</div>
					<div class="review__author">
						<h4 class="review__author-name">Александр Носиков</h4>
						<p class="review__author-pos">Руководитель команды REDG team</p>
					</div>
				</div>
			</div>

			<div class="review">
				<div class="review__row">
					<div class="review__content">
						<p class="review__site">red-g.ru</p>
						<h3 class="review__title">Агенство тимбилдингов REDG</h3>
						<div class="review__text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
						</div>
						<div class="review__author">
							<h4 class="review__author-name">Александр Носиков</h4>
							<p class="review__author-pos">Руководитель команды REDG team</p>
						</div>
					</div>
					<div class="review__contract hidden-sm">
						<a href="./images/contract_img.jpg" class="contract contract--sm modal-link">
							<div class="contract__img">
								<img src="./images/contract_img.jpg" alt="" class="contract__img-pic">
								<div class="contract__img-hover">
									<svg viewBox="0 0 1 1" class="search-icon"><use xlink:href='./images/icons.svg#search_icon'></use></svg>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>

			<div class="review">
				<div class="review__content">
					<p class="review__site">red-g.ru</p>
					<h3 class="review__title">Агенство тимбилдингов REDG</h3>
					<div class="review__text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
					</div>
					<div class="review__author">
						<h4 class="review__author-name">Александр Носиков</h4>
						<p class="review__author-pos">Руководитель команды REDG team</p>
					</div>
				</div>
			</div>

			<div class="review">
				<div class="review__row">
					<div class="review__content">
						<p class="review__site">red-g.ru</p>
						<h3 class="review__title">Агенство тимбилдингов REDG</h3>
						<div class="review__text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
						</div>
						<div class="review__author">
							<h4 class="review__author-name">Александр Носиков</h4>
							<p class="review__author-pos">Руководитель команды REDG team</p>
						</div>
					</div>
					<div class="review__video">
						<a href="https://www.youtube.com/watch?v=YJPgoOCOBFg" class="review__video-inner modal-link">
							<img src="./images/review_video.jpg" alt="" class="review__video-img">
							<div class="review__video-play">
								<svg class='review__video-icon' viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#play_icon'></use></svg>
							</div>
						</a>
					</div>
				</div>
			</div>

			<div class="page-reviews__footer">
				<a href="" class="page-reviews__link-more">
					Больше отзывов
					<span class="page-reviews__more-icon">
						<svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#next_arrow'></use></svg>
					</span>
				</a>
			</div>
		</div>
	</div>

	{% include 'shared/discount.html' %}
{% endblock %}