{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="hero">
    <div class="container">
      <div class="hero__content">
        <div class="breadcrumb">
          <a href="" class="breadcrumb__link">Главная</a>
          <a href="" class="breadcrumb__link">Отзывы</a>
        </div>
        <h1 class="hero__title hero__title--sm">
          SEO-продвижение сайтов
          <div class="hero__title-descr">с финансовой гарантией результата</div>
        </h1>
        
        <div class="hero__subtitle">Комплексное продвижение <br> от 20000 рублей в месяц</div>
        
        <div class="hero__form">
          <form action="" class="form">
            <p class="hero__form-caption">Узнайте стоимость продвижения:</p>
            <div class="form__row">
              <input type="text" placeholder="Ваш сайт" class="form__field form__field--md">
              <a href="#get_price" class="btn btn--sm btn--primary modal-link">Узнать стоимость</a>
            </div>
          </form>
        </div>
      </div>
      <div class="hero__image">
        <img src="./images/hero_img_seo.png" alt="" class="hero__image-pic">
      </div>
    </div>
  </div>
  
  <div class="page-seo__header container hidden-sm wow fadeIn" data-wow-delay="0.3s">
    <div class="page-seo__title title">Зачем нужно SEO</div>
    <p class="page-seo__text">Оптимизация сайта под поисковые системы – один из наиболее емких методов привлечения клиентов. Формально – прирост посещаемости ограничен лишь аудиторией интернета. А чем больше посетителей, тем выше число клиентов вашей компании. Поисковые системы используют более 100 факторов для определения топа поисковой выдачи. Не хотите разбираться со всем этим самостоятельно?</p>
    <p class="page-seo__text">И не нужно, ведь для этого есть мы! Результатом нашей работы является повышение числа клиентов, которые ежемесячно приходят на ваш сайт из «Яндекса», «Гугла» и других поисковых систем.</p>
  </div>

  {% include 'shared/cases.html' %}

  <div class="work">
    <div class="work__benefits wow fadeIn" data-wow-delay="0.1s">
      <div class="container">
        <div class="work__cards">
          <div class="work__card wow fadeIn" data-wow-delay="0.2s">
            <div class="work__card-title">Ставим результат <br> во главу угла</div>
            <ul>
              <li>Продвигаем неограниченное число запросов</li>
              <li>Не ограничиваем время работы команды над проектом до получения результатов</li>
              <li>Сами вносим все изменения на сайт, а не просто даем рекомендации</li>
              <li>Делаем все в срок</li>
            </ul>
          </div>
          <div class="work__card wow fadeIn" data-wow-delay="0.3s">
            <div class="work__card-title">Контроль полученных результатов</div>
            <ul>
              <li>Ежемесячные отчеты, которые адаптированы под заказчика.</li>
              <li>Готовы обсудить результаты по телефону или онлайн в удобное для вас время</li>
              <li>У вас всегда на руках будет план, по которому понятно куда движется проект</li>
            </ul>
          </div>
          <div class="work__card wow fadeIn" data-wow-delay="0.4s">
            <div class="work__card-title">Работаем по <br> стандартам 2018</div>
            <ul>
              <li>Каждый сайт проверяем по собственному чек-листу по 45 параметрам</li>
              <li>Следим за обновлением поисковых систем, исключаем риск попадания под фильтр</li>
              <li>Не сливаем ссылочный бюджет на спамные ссылки</li>
              <li>Применяем LSI-копирайтинг</li>
            </ul>
          </div>
        </div>

        <img src="./images/work_decor.svg" alt="" class="work__benefits-decor">
      </div>
    </div>

    <div class="container work__body">
      <div class="work__title wow fadeIn" data-wow-delay="0.2s">Как мы работаем</div>
      <div class="work__item wow fadeIn" data-wow-delay="0.3s">
        <img src="./images/work_1.svg" alt="" class="work__item-img">

        <div class="work__item-content">
          <div class="work__item-title">Разрабатываем подробную структуру сайта</div>
          <p class="work__item-text">Наша основная задача – на каждую потребность потенциального посетителя создать страницу, которая решает эту потребность. Например, если человек хочет купить iPhone, то он должен попасть именно на страницу со смартфонами Apple, а не на общий каталог телефонов.</p>

          <a href="" class="work__item-more">Подробнее</a>
        </div>
      </div>

      <div class="work__item wow fadeIn" data-wow-delay="0.3s">
        <img src="./images/work_2.svg" alt="" class="work__item-img">

        <div class="work__item-content">
          <div class="work__item-title">Собираем семантическое ядро и анализируем конкурентов</div>
          <p class="work__item-text">Подробную структуру мы создаем на основе конкурентов и поискового спроса. Самый действенный метод проанализировать поисковый спрос – это сбор семантического ядра. Семантическое ядро – это список запросов, по которым потенциальный клиент может найти ваш сайт и заказать услугу.</p>

          <a href="" class="work__item-more">Подробнее</a>
        </div>
      </div>

      <div class="work__item wow fadeIn" data-wow-delay="0.3s">
        <img src="./images/work_3.svg" alt="" class="work__item-img">

        <div class="work__item-content">
          <div class="work__item-title">Проводим технический аудит</div>
          <p class="work__item-text">На этом этапе мы выясняем отвечает ли ваш сайт всем требованиям поисковых систем с технической точки зрения. Если есть ошибки – исправлять их нужно сразу, иначе это будет тормозить развитие проекта.</p>

          <a href="" class="work__item-more">Подробнее</a>
        </div>
      </div>

      <div class="work__item wow fadeIn" data-wow-delay="0.3s">
        <img src="./images/work_4.svg" alt="" class="work__item-img">

        <div class="work__item-content">
          <div class="work__item-title">Создаем релевантные страницы и оптимизируем их за счет LSI-фраз</div>
          <p class="work__item-text">Теперь, когда у нас есть список страниц, которые должны быть на сайте, мы начинаем приводить их к такому виду, чтобы страница полностью отвечала на запрос пользователя. Чаще всего посетителю важно показать чем занимается компания, сколько это стоит, какие есть гарантии, а также отзывы людей, которые уже заказывали товар/услугу. Текстовую оптимизацию мы добиваем за счет LSI-фраз. Это список слов, который постоянно находится возле запросов из семантического ядра (да-да, как планеты-гиганты и их кольца).</p>

          <a href="" class="work__item-more">Подробнее</a>
        </div>
      </div>

      <div class="work__item wow fadeIn" data-wow-delay="0.3s">
        <img src="./images/work_5.svg" alt="" class="work__item-img">

        <div class="work__item-content">
          <div class="work__item-title">Приводим в порядок коммерческие факторы ранжирования</div>
          <p class="work__item-text">Страница контактов, информация о доставке, отзывы, реквизиты. Думаете – это все не относится к SEO? Еще как относится! У «Яндекса» есть где-то 3 десятка коммерческих факторов, которые влияют на ранжирование. На сайте нет номера телефона? Значит, эта компания подозрительная и ей не место в поисковой выдаче.</p>

          <a href="" class="work__item-more">Подробнее</a>
        </div>
      </div>

      <div class="work__item wow fadeIn" data-wow-delay="0.3s">
        <img src="./images/work_6.svg" alt="" class="work__item-img">

        <div class="work__item-content">
          <div class="work__item-title">Анализируем ссылочную массу конкурентов и вырабатываем свою стратегию</div>
          <p class="work__item-text">Годами SEO-специалисты используют дешевые покупные ссылки, чтобы повысить вес своего сайта. На самом деле, уже на рубеже 2010-х годов «поисковики» научились четко фильтровать такие ссылки. Мы используем современные, неспамные методы внешней оптимизации. Смотрим ссылочные профили основных конкурентов, собираем все лучшие решения в единую таблицу, составляем план по притоку ссылок на ближайший год. И никаких фильтров и банов от поисковых систем!</p>

          <a href="" class="work__item-more">Подробнее</a>
        </div>
      </div>

      <div class="work__item wow fadeIn" data-wow-delay="0.3s">
        <img src="./images/work_7.svg" alt="" class="work__item-img">

        <div class="work__item-content">
          <div class="work__item-title">Чистим сайт от спамных ссылок</div>
          <p class="work__item-text">Мы часто встречаемся с «плодами» работы других подрядчиков. Дешевые, спамные ссылки, которые, в лучшем случае, ничего не дают. Но чаще просто подрывают работу по улучшению сайта и сдерживают результат. Составляем список таких внешних ссылок и прощаемся с ними навсегда.</p>

          <a href="" class="work__item-more">Подробнее</a>
        </div>
      </div>

      <div class="work__item wow fadeIn" data-wow-delay="0.3s">
        <img src="./images/work_8.svg" alt="" class="work__item-img">

        <div class="work__item-content">
          <div class="work__item-title">Анализируем результаты, кликабельность сниппетов, поведенческие факторы</div>
          <p class="work__item-text">Все, о чем шла речь выше подходит под правило о том, что 20% работы дают 80% результата. Дальше начинается самое интересное! Время анализа результатов и точной корректировки действий. Мы работаем над уменьшением числа отказов, CTR в поисковой выдаче, расширяем пул запросов, мониторим тренды тематики, например, поисковые подсказки. Важно держать руку на пульсе.</p>

          <p class="work__item-text"><span>Например, </span> страница, которая была идеальной в 2016-м году, в 2018-м может оказаться спамной, ведь «Яндекс» и Google регулярно выкатывают новые алгоритмы.</p>

          <a href="" class="work__item-more">Подробнее</a>
        </div>
      </div>
    </div>
  </div>

  <div class="price">
    <div class="container">
      <h2 class="price__title wow fadeIn" data-wow-delay="0.2s">Цены на <br> SEO-продвижение</h2>
      
      <div class="tabs-container wow fadeIn" data-wow-delay="0.3s">
        <ul class="price__tabs tabs">
          <li class="price__tabs-item tabs-item">
            <a href="#tab_content_1" class="price__tabs-link is-active">По типу сайтов</a>
          </li>
          <li class="price__tabs-item tabs-item">
            <a href="#tab_content_2" class="price__tabs-link">При оплате за результат</a>
          </li>
          <li class="price__tabs-item tabs-item">
            <a href="#tab_content_3" class="price__tabs-link">Разовые услуги</a>
          </li>
        </ul>

        <div id="tab_content_1" class="price__content">
          <div class="price__content-item">
            <div class="price__content-row">
              <div class="price__content-info">
                <p class="price__content-title">Молодые сайты</p>
                <h4 class="price__content-cost">от 25 000 руб.</h4>
              </div>
              <a href='#get_price_tabs' class="btn btn--sm btn--primary modal-link">Узнать стоимость</a>
            </div>
          </div>

          <div class="price__content-item">
            <div class="price__content-row">
              <div class="price__content-info">
                <p class="price__content-title">Интернет-магазины</p>
                <h4 class="price__content-cost">от 25 000 руб.</h4>
              </div>
              <a href='#get_price_tabs' class="btn btn--sm btn--primary modal-link">Узнать стоимость</a>
            </div>
          </div>

          <div class="price__content-item">
            <div class="price__content-row">
              <div class="price__content-info">
                <p class="price__content-title">Региональные сайты услуг</p>
                <h4 class="price__content-cost">от 25 000 руб.</h4>
              </div>
              <a href='#get_price_tabs' class="btn btn--sm btn--primary modal-link">Узнать стоимость</a>
            </div>
          </div>
        </div>

        <div id="tab_content_2" class="price__content">
          <div class="price__content-item">
            <div class="price__content-row">
              <div class="price__content-info">
                <p class="price__content-title">Молодые сайты 2</p>
                <h4 class="price__content-cost">от 25 000 руб.</h4>
              </div>
              <a href='#get_price_tabs' class="btn btn--sm btn--primary modal-link">Узнать стоимость</a>
            </div>
          </div>

          <div class="price__content-item">
            <div class="price__content-row">
              <div class="price__content-info">
                <p class="price__content-title">Интернет-магазины</p>
                <h4 class="price__content-cost">от 25 000 руб.</h4>
              </div>
              <a href='#get_price_tabs' class="btn btn--sm btn--primary modal-link">Узнать стоимость</a>
            </div>
          </div>

          <div class="price__content-item">
            <div class="price__content-row">
              <div class="price__content-info">
                <p class="price__content-title">Региональные сайты услуг</p>
                <h4 class="price__content-cost">от 25 000 руб.</h4>
              </div>
              <a href='#get_price_tabs' class="btn btn--sm btn--primary modal-link">Узнать стоимость</a>
            </div>
          </div>
        </div>

        <div id="tab_content_3" class="price__content">
          <div class="price__content-item">
            <div class="price__content-row">
              <div class="price__content-info">
                <p class="price__content-title">Молодые сайты 3</p>
                <h4 class="price__content-cost">от 25 000 руб.</h4>
              </div>
              <a href='#get_price_tabs' class="btn btn--sm btn--primary modal-link">Узнать стоимость</a>
            </div>
          </div>

          <div class="price__content-item">
            <div class="price__content-row">
              <div class="price__content-info">
                <p class="price__content-title">Интернет-магазины</p>
                <h4 class="price__content-cost">от 25 000 руб.</h4>
              </div>
              <a href='#get_price_tabs' class="btn btn--sm btn--primary modal-link">Узнать стоимость</a>
            </div>
          </div>

          <div class="price__content-item">
            <div class="price__content-row">
              <div class="price__content-info">
                <p class="price__content-title">егиональные сайты услуг</p>
                <h4 class="price__content-cost">от 25 000 руб.</h4>
              </div>
              <a href='#get_price_tabs' class="btn btn--sm btn--primary modal-link">Узнать стоимость</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  {% include 'shared/discount.html' %}
{% endblock %}
