.advantage {
	position: relative;
	z-index: 1;
	padding-top: 50px;

	&__title {
		font-size: 36px;
		margin-bottom: 35px;
	}

	&__descr {
		max-width: 880px;
		margin: 0 auto;
		font-size: 20px;
		font-weight: 300;
		color: $colorPurple;
		line-height: 1.3;
		text-align: center;
	}

	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0 -15px;
		padding-top: 100px;
	}

	&__item {
		position: relative;
		display: flex;
		width: calc(50% - 30px);
		margin: 15px 15px 60px;
	}


	&__item-content {
		padding-left: 100px;
	}

	&__icon {
		position: absolute;
		top: -20px;
		left: 0;
		display: flex;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		// background-image: -webkit-linear-gradient( -54deg, rgb(250,140,79) 0%, rgb(247,108,115) 99%);
		background: linear-gradient( -190deg, rgb(250,140,79) 0%, rgb(247,108,115) 99%);
	}

	&__icon svg {
		margin: auto;
		width: 35px;
		height: 35px;
		fill: #fff;
	}

	&__item-title {
		font-size: 20px;
		color: $colorPurple;
		font-weight: bold;
		margin-bottom: 15px;

		br {
			display: none;
		}
	}

	&__item-text {
		margin: 0;
		font-size: 16px;
		font-weight: 300;
		color: $colorPurple;
		line-height: 1.5;
	}

	@media (max-width: 1024px) {
		&__list {
			padding-top: 50px;
		}
	}

	@media (max-width: 767px) {
		padding-top: 20px;
		padding-bottom: 5px;

		&__title {
			font-size: 24px;
			margin-bottom: 12px;
		}

		&__descr {
			font-size: 16px;
		}

		&__list {
			padding-top: 20px;
			margin: 0 -10px;
		}

		&__item {
			width: auto;
			flex: 145px;
			max-width: 145px;
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin: 20px 5px 20px;
		}

		&__item-text {
			display: none;
		}

		&__icon {
			position: static;
			margin-bottom: 20px;
		}

		&__item-content {
			padding-left: 0;
		}

		&__item-title {
			font-size: 18px;
			margin-bottom: 0;

			br {
				display: block;
			}
		}
	}
}