.benefits {
	position: relative;
	z-index: 1;
	padding-top: 42px;
	padding-bottom: 40px;

	&__title {
		font-size: 42px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
		text-align: center;
		margin-bottom: 50px;
	}
	
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -35px;
	}

	&__item {
		flex: 300px;
		text-align: center;
		padding: 0 34px 30px;
		max-width: 400px;
	}

	&__item-img {
		height: 156px;
		margin-bottom: 45px;
	}

	&__item-title {
		font-size: 22px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
		margin-bottom: 20px;
	}

	&__item-descr {
		font-size: 16px;
		color: $colorPurple;
		font-weight: 300;
		line-height: 1.5;
		text-align: center;
	}

	.slick-dots {
		justify-content: center;
	}

	@media (max-width: 1024px) {
		&__title {
			font-size: 36px;
		}
	}

	@media (max-width: 767px) {
		padding-top: 30px;
		padding-bottom: 10px;
		
		&__title {
			font-size: 24px;
			margin-bottom: 25px;
		}

		&__list {
			margin: 0;
		}

		&__item {
			max-width: 100%;
			padding: 0;
		}

		&__item-img {
			margin: 0 auto 30px;
		}

		&__item-title {
			font-size: 20px;
		}
	}
}