.blog {
	padding-top: 5px;
	padding-bottom: 70px;
	
	&__grid {
		margin: 0 -30px;
	}

	&__grid-item {
		font-size: 0;
		line-height: 1;
		position: relative;
		width: calc(100% / 3);
		padding: 30px;
		overflow: hidden;
	}
	

	&__grid-item--has-bg {

		.blog__article:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(0deg, rgb(37,35,38) 0%, rgba(37,35,38,0) 100%);
			opacity: 0.6;
		}
		.blog__article-content {
			position: absolute;
			left: 0;
			width: 100%;
			bottom: 0;
			padding: 40px 30px;
		}
		.blog__article-date {
			color: #fff;
		}

		.blog__article-title {
			color: #fff;
		}

		.blog__article-rubric {
			color: #fff;
			border-color: rgba(255, 255, 255, 0.2);
		}

		.blog__article-rubric:hover {
			border-color: #fff;
		}
	}

	&__grid-item--text-only {
		.blog__article {
			padding: 35px 30px;
			background-color: #f1f3fc;
		}
		
		.blog__article-title {
			font-size: 24px;
			margin-bottom: 20px;
		}

	}

	&__article {
		position: relative;
	}

	&__article-content {
		z-index: 1;
	}

	&__article-img {
		width: 100%;
		height: auto;
	}

	&__article-date {
		font-size: 16px;
		color: rgb(51, 51, 51);
		font-weight: 300;
		margin-top: 36px;
		margin-bottom: 20px;
	}

	&__article-title {
		display: block;
		font-size: 30px;
		color: rgb(51, 51, 51);
		font-weight: bold;
		line-height: 1.333;
		margin-bottom: 35px;
	}

	&__article-text {
		font-size: 18px;
		color: rgba(51, 51, 51, 0.8);
		line-height: 1.444;
		margin-bottom: 15px;
	}

	&__article-rubric {
		display: inline-block;
		font-size: 14px;
		font-weight: 300;
		color: rgb(51, 51, 51);
		border: 1px solid rgba(37, 35, 38, 0.2);
		border-radius: 20px;
		padding: 6px 12px;
		transition: $transitionPrimary;
	}

	&__field {
		position: relative;
		margin-top: 38px;
	}

	&__field-next-btn {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		height: 50px;
		width: 50px;
		border: 0;
		background-color: transparent;
		border-radius: 50%;
		background: $gradientPrimary;
	}

	&__field-next-btn svg {
		fill: #fff;
		width: 20px;
		height: 20px;
	}

	&__field-input {
		border: 0;
		width: 100%;
		font-size: 16px;
		font-weight: 300;
		color: rgb(51, 51, 51);
		border-radius: 35px;
		background-color: #fff;
		padding: 28px 70px 24px 30px;
		box-shadow: 0px 0px 32px 0px rgba(220, 220, 220, 0.31);

		&::placeholder {
		  color: rgba(51, 51, 51, 0.8);
		  opacity: 1;
		}
	}

	&__article-rubric:hover {
		border-color: rgb(37, 35, 38);
	}

	@media (max-width: 1024px) {
		padding-bottom: 40px;

		&__grid {
			margin: 0 -15px;
		}

		&__grid-item {
			width: calc(100% / 2);
			padding: 15px;
		}
	}

	@media (max-width: 767px) {
		padding-bottom: 20px;

		&__grid-item--has-bg .blog__article-content  {
			padding: 20px;
		}

		&__grid-item--text-only {
			.blog__article {
				padding: 20px;
			}
		}

		&__article-date {
			font-size: 14px;
			margin-top: 20px;
			margin-bottom: 10px;
		}

		&__article-title {
			font-size: 24px;
			margin-bottom: 15px;
		}

		&__article-text {
			font-size: 16px;
		}

		&__field {
			margin-top: 10px;
		}
	}

	@media (max-width: 647px) {
		&__grid-item {
			width: 100%;
		}
	}
}