.calc {
	background-color: rgb(241, 243, 252);
	padding-top: 97px;
	padding-bottom: 90px;

	&__nav {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	&__progress {
		display: flex;
		align-items: center;
	}

	&__progress-bar {
		position: relative;
		width: 465px;
		height: 8px;
		background-color: rgb(214, 220, 243);
		border-radius: 8px;
	}

	&__progress-inner {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		// width: 25%;
		border-radius: 8px;
		background: $gradientPrimary;
		transition: width 0.3s ease-in-out;
	}

	&__progress-steps {
		font-size: 14px;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		margin-left: 20px;
	}

	&__info {
		display: flex;
		margin-right: -15px;
	}

	&__info-link {
		font-size: 14px;
		color: $colorPurple;
		opacity: 0.5;
		padding: 0 17px;

		&.active {
			opacity: 1;
		}
	}
	
	.js-tab-content {
		display: none;
		&.active {
			display: block;
		}
	}

	&__title {
		font-size: 40px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 40px;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -12.5px;
		// padding-bottom: 45px;
	}

	&__card {
		cursor: pointer;
		text-align: center;
		padding: 50px 40px 40px;
		background-color: rgb(255, 255, 255);
		flex: 266px;
		max-width: 266px;
		margin: 12.5px;
	}

	&__card input[type="radio"] {
		position: absolute;
		left: -99999px;
		opacity: 0;
		visibility: hidden;
	}

	&__card--checked {
		background: $colorPurple;
	}

	&__card--checked {
		.calc__card-icon svg {
			fill: #fff;
		}

		.calc__card-title {
			color: #fff;
		}
	}

	&__card-icon svg {
		fill: $colorPurple;
		height: 70px;
	}

	&__card-title {
		font-size: 16px;
		color: $colorPurple;
		margin-top: 25px;
	}

	&__content-footer {
		margin-top: 45px;
	}

	@media (max-width: 1120px) {
		&__nav {
			flex-direction: column;
			margin-bottom: 30px;
		}

		&__info {
			padding-top: 20px;
			margin-left: -15px;
		}
	}

	@media (max-width: 1024px) {
		padding: 50px 0;
		
		&__title {
			margin-bottom: 20px;
		}

		&__progress-bar {
			width: auto;
			flex: 1;
		}
	}

	@media (max-width: 767px) {
		padding-top: 40px;
		padding-bottom: 50px;

		&__steps-line {
			width: 200px;
		}

		&__steps-text {
			margin-left: 15px;
		}

		&__nav {
			margin-bottom: 33px;
		}

		&__info {
			display: none;
		}

		&__title {
			font-size: 24px;
			margin-bottom: 20px;
		}

		&__cards {
			flex-direction: column;
			margin: 0;
		}

		&__card {
			display: flex;
			align-items: center;
			padding: 18px;
			flex: 100%;
			max-width: 100%;
			margin: 0 0 10px;
		}

		&__card--checked {
			background-color: #fff;

			.calc__card-icon {
				background-image: -webkit-linear-gradient( 12deg, rgb(251,149,69) 0%, rgb(246,99,125) 100%);
			}

			.calc__card-title {
				background-image: -webkit-linear-gradient(12deg,#fb9545,#f6637d);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		&__card-title {
			margin-top: 0;
		}

		&__card-icon {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: #f1f3fc;
			margin-right: 15px;
		}

		&__card-icon svg {
			display: none;
		}

		&__content-footer {
			margin-top: 30px;
		}

		.btn--primary {
			min-width: 290px;
		}
	}
}