.cases_page {

	.container {
		max-width: 980px;
	}

	.dark-bg {
		padding-top: 5px;
		padding-bottom: 90px;
		background-color: #f9faff;
	}

	.external-link {
		display: flex;
		font-size: 20px;
		color: rgb(247, 108, 114);
		line-height: 1.3;
	}

	.external-link svg {
		fill: rgb(247, 108, 114);
		width: 14px;
		height: 14px;
		margin-top: 5px;
		margin-left: 15px;
	}

	&__row {
		display: flex;
	}

	h2 {
		margin-top: 85px;
		font-size: 42px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
		margin-bottom: 40px;
	}

	h4 {
		margin: 0;
		font-size: 20px;
		color: $colorPurple;
		font-weight: bold;
		line-height: 1.3;
		margin-bottom: 15px;
	}

	p {
		margin: 0;
		font-size: 20px;
		font-weight: 300;
		color: $colorPurple;
		line-height: 1.4;
		margin-bottom: 25px;
	}

	&__lists {
		display: flex;
		margin: 40px -15px 85px;
	}

	&__lists ul {
		width: 50%;
		padding: 0 15px;
	}

	&__list li {
		position: relative;
		padding: 5px;
		font-size: 18px;
		font-weight: 300;
		color: $colorPurple;
		line-height: 1.444;
		padding-left: 40px;
	}

	&__list li:before {
		content: '';
		width: 6px;
		height: 6px;
		border: 2px solid rgb(247, 108, 114);
		border-radius: 50%;
		position: absolute;
		top: 8px;
		left: 0;
	}

	img {
		max-width: 100%;
		height: auto;
		margin-top: 35px;
		margin-bottom: 30px;
	}

	&__head img {
		margin-top: 0;
		margin-bottom: 50px;
	}

	&__head-row {
		display: flex;
		justify-content: space-between;
	}

	&__statistics {
		margin-top: 75px;
	}

	.statistics__pic {
		margin: 0;
	}

	&__goal {
		display: flex;
		margin: 65px -15px 0;
	}

	&__goal-item {
		flex: 1;
		padding: 15px;
	}

	&__goal-text {
		font-size: 16px;
		font-weight: 300;
		color: #525899;
		line-height: 1.4;
		margin-bottom: 25px;
	}

	&__goal-title {
		font-size: 30px;
		color: #525899;
		font-weight: bold;
		line-height: 1.333;
		margin-bottom: 25px;
	}

	&__carousel {
		margin: 70px -45px 0;

		img {
			margin: 0;
			border-radius: 10px;
			width: 67.9%;
			max-width: 645px;
			max-height: 439px;
		}

		.img-main {
			display: block;
			background-color: rgb(232, 235, 247);
		}

		.img-cover {
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgb(249, 250, 255);
			box-shadow: 8.727px 15.743px 43px 0px rgba(122, 125, 171, 0.23);
		}
	}

	&__carousel-dots {
		position: relative;
		z-index: 1;
		margin: auto auto 0;
	}

	&__carousel-item {
		padding: 45px;
	}

	&__carousel-images {
		display: flex;
		align-items: flex-end;
		position: relative;
		padding-top: 110px;
	}

	@media (max-width: 767px) {

		.dark-bg {
			padding-bottom: 30px;
		}

		&__statistics {
			margin-top: 35px;
		}

		&__head-row {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		&__head-image {
			margin: 0 -15px;

			img {
				margin-bottom: 35px;
			}
		}

		.external-link {
			margin-bottom: 25px;
		}

		&__lists {
			margin-top: 20px;
			margin-bottom: 40px;
			flex-direction: column;
		}

		&__lists .cases_page__list {
			width: 100%;
		}

		&__list li {
			font-size: 16px;
			padding-left: 30px;
		}

		h2 {
			font-size: 24px;
			margin-top: 30px;
			margin-bottom: 20px;
		}

		p {
			font-size: 16px;
			margin-bottom: 15px;
		}

		&__goal {
			margin-top: 25px;
			flex-direction: column;
		}

		&__goal-item {
			padding-top: 0;
			padding-bottom: 0;
		}

		&__goal-title {
			margin-bottom: 15px;
		}

		&__goal-text {
			font-size: 14px;
		}

		&__carousel {
			margin-top: -15px;
			margin-bottom: -30px;
		}

		&__carousel-images {
			flex-direction: column;
			padding-top: 50px;
		}

		&__carousel img {
			width: 100%;
		}

		&__carousel .img-main {
			margin-left: auto;
			margin-right: -50px;
		}

		&__carousel-dots {
			margin-top: 5px;
			order: 1;
		}
	}
}

.cases-list-page {
	margin-bottom: 115px;

	@media (max-width: 1024px) {
		margin-bottom: 50px;
	}
}

.cases-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;

	&__item {
		width: calc(33.333% - 30px);
		margin: 15px;
		font-size: 0;
		line-height: 1;
		
	}

	&__item-inner {
		display: block;
		position: relative;
		overflow: hidden;
		max-width: 360px;
	}

	&__item-img {
		height: 320px;
	}

	&__item-text {
		display: flex;
		align-items: flex-end;
		font-size: 20px;
		font-weight: 300;
		color: rgb(255, 255, 255);
		line-height: 1.2;
		margin: auto 0 0;

		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		display: flex;
		padding: 25px 30px;
		background-color: rgba(82, 88, 153, 0.6);
	}

	@media (max-width: 1024px) {
		&__item {
			width: calc(50% - 30px);
		}
	}

	@media (max-width: 767px) {
		margin: 30px 0 0;
		flex-direction: column;
		align-items: center;

		&__item {
			margin: 0 0 15px;
			width: 100%;
			max-width: 100%;
		}

		&__item-inner {
			margin: 0 auto;
		}
	}
}

.more-cases {
	margin-top: 80px;
	margin-bottom: 105px;

	.title {
		margin-bottom: 55px;
	}

	.slick-dots {
		justify-content: center;
	}
}


// .more-article {
// 	padding-top: 80px;
// 	padding-bottom: 105px;

// 	&__title {
// 		margin-top: 0;
// 		margin-bottom: 55px;
// 	}

// 	&__list {
// 		display: flex;
// 		margin: 0 -15px;
// 	}

// 	&__item {
// 		width: calc(33.333% - 30px);
// 		margin: 15px;
// 	}

// 	&__item-inner {
// 		display: block;
// 		overflow: hidden;
// 		position: relative;
// 		font-size: 0;
// 		line-height: 1;
// 	}

// 	&__img {
// 		height: 320px;
// 	}

// 	&__item-content {
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		left: 0;
// 		bottom: 0;
// 		display: flex;
// 		padding: 25px 30px;
// 		background-color: rgba(82, 88, 153, 0.6);
// 	}

// 	&__item-content p {
// 		font-size: 20px;
// 		font-weight: 300;
// 		color: rgb(255, 255, 255);
// 		line-height: 1.2;
// 		margin: auto 0 0;
// 	}

// 	.slick-dots {
// 		justify-content: center;
// 	}

// 	@media (max-width: 1024px) {
// 		padding-top: 50px;
// 		padding-bottom: 50px;

// 		&__title {
// 			margin-bottom: 25px;
// 		}

// 		&__item {
// 			// max-width: 360px;
// 			// margin: 15px;
// 		}

// 		&__img {
// 			height: 260px;
// 		}

// 		&__item-content {
// 			padding: 20px;
// 		}

// 		&__item-content p {
// 			font-size: 18px;
// 		}
// 	}

// 	@media (max-width: 767px) {
// 		padding-top: 35px;
// 		padding-bottom: 25px;

// 		&__list {
// 			margin: 0;
// 		}

// 		&__item {
// 			margin: 0;
// 			max-width: auto;
// 		}

// 		&__item-inner {
// 			max-width: 290px;
// 			margin: 0 auto;
// 		}

// 		&__item-content p {
// 			font-size: 16px;
// 		}
// 	}

// 	@media (max-width: 340px) {
// 		&__title {
// 			text-align: left;
// 		}
// 	}
// }
