.cases {
	position: relative;
	padding-top: 80px;
	padding-bottom: 50px;

	.container {
		position: relative;
	}

	.dark-bg {
		background-color: rgb(249, 250, 255);
	}

	#cases_chart {
		width: 100%;
		height: 156px;
	}

	// @keyframes casesDecor {
	// 	0%, 100% {
	// 		transform: rotate(0deg);
	// 	}

	// 	50% {
	// 		transform: rotate(1deg);
	// 	}
	// }

	&__decor_right {
		position: absolute;
		top: -20px;
		left: 0;
		width: 475px;
		height: 492px;
		background: url('../images/cases_right-decor.svg');
		background-repeat: no-repeat;
		background-size: contain;
		// animation: casesDecor 1.5s ease-in-out infinite;
	}

	&__decor_ellipse {
		position: absolute;
		top: -155px;
		right: -260px;
		width: 465px;
		height: 315px;
		background: url('../images/ellipse_bg.svg');
		background-size: contain;
		transform: rotate(90deg);
		background-repeat: no-repeat;
	}

	&__to_do-list li {
		position: relative;
		font-size: 18px;
		color: $colorPurple;
		font-weight: 300;
		padding: 5px;
		padding-left: 35px;

		&:before {
			position: absolute;
			top: 5px;
			left: 0;
			font-family: 'Material Icons';
			font-weight: 700;
			content: '\e5ca';
			color: #f76c73;
		}
	}

	&__row {
		display: flex;
		align-items: flex-start;
		margin: 0 -15px;
	}

	&__col--50 {
		width: 50%;
	}

	&__col {
		margin: 0 15px;
	}

	&__col--35 {
		width: 40%;
	}

	&__col--65 {
		width: 60%;
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 -4px;
	}

	&__tags-link {
		font-size: 11px;
		color: rgb(247, 108, 114);
		text-transform: uppercase;
		border: 1px solid rgba(247, 108, 114, 0.2);
		margin: 4px;
		padding: 4px 10px 2px;
		transition: $transitionPrimary;
	}

	&__tags-link:hover {
		border-color: rgb(247, 108, 114);
	}

	&__title {
		margin: 0;
		text-align: center;
		font-size: 42px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
		padding-bottom: 30px;
	}

	&__list {
		margin: 0 -40px;
	}

	&__item-card {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 4px 40px 0px rgba(231, 231, 231, 0.53);
		padding: 45px;
		margin: 40px;
	}

	&__item-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 35px;
	}

	&__item-header .cases__row {
		margin: 0;
		align-items: center;
	}

	&__item-site_name {
		font-size: 16px;
		font-weight: 300;
		color: rgb(247, 108, 114);
		margin-right: 10px;
	}

	&__item-title {
		margin: 0;
		font-size: 28px;
		color: $colorPurple;
		font-weight: bold;
		padding-top: 15px;
	}

	&__item-subtitle {
		margin: 0;
		font-size: 18px;
		color: $colorPurple;
		font-weight: bold;
		padding-bottom: 10px;
	}

	&__item-text {
		margin: 0;
		font-size: 18px;
		color: $colorPurple;
		font-weight: 300;
		line-height: 1.444;
		margin-bottom: 25px;

		a {
			color: #f76c72;
			text-decoration: underline;
		}

		a:hover {
			text-decoration: none;
		}
	}

	&__to_do_block {
		margin: 50px 0;
		padding: 45px;
	}

	&__statistics {
		display: flex;
		padding: 45px;
		margin: 50px 0;
	}

	&__statistics {
		.align-right {
			text-align: right;
		}
	}

	&__statistics-tables {
		padding-left: 40px;
	}

	&__statistics td {
		font-size: 15px;
		color: $colorPurple;
	}

	&__statistics thead td {
		font-weight: bold;
		padding-bottom: 15px;
	}

	&__statistics tbody td {
		padding-bottom: 5px;
	}

	&__statistics .cases__row {
		flex: 1;
	}

	&__statistics-graph {
		width: 330px;

		img {
			width: 100%;
		}
	}

	&__item-review {
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
	}

	&__item-quote {
		position: relative;
		max-width: 680px;
		padding: 10px 50px;

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			content: '';
			background: url('../images/quote_left.svg');
			background-size: contain;
			width: 102px;
			height: 68px;
		}

		&:after {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			content: '';
			background: url('../images/quote_right.svg');
			background-size: contain;
			width: 100px;
			height: 68px;
		}

		p {
			position: relative;
			z-index: 1;
		}
	}

	&__item-author {
		max-width: 305px;
		width: 100%;
	}

	&__item-author-name {
		margin: 0;
		font-size: 20px;
		color: $colorPurple;
		font-weight: bold;
		padding-bottom: 10px;
	}
	&__item-author-pos {
		margin: 0;
		font-size: 15px;
		color: $colorPurple;
	}

	&__site {
		display: flex;
	}

	&__site-info {
		flex: 1;
		padding-right: 50px;
	}

	&__site-layout {
		width: 510px;
	}

	&__site-images {
		position: relative;
		display: flex;
	}

	&__site-pic {
		// max-width: 100%;
		// width: 360px;
		width: 70.5%;
		max-width: 360px;
		// height: 245px;
		border-radius: 10px;
	}

	&__site-pic--overlay {
		position: absolute;
		top: 0;
		right: 145px;
		background-color: rgb(249, 250, 255);
		box-shadow: 8.727px 15.743px 43px 0px rgba(122, 125, 171, 0.23);
		// visibility: hidden;
	}

	&__site-pic--static {
		display: block;
		margin-left: auto;
		background-color: rgb(232, 235, 247);
		margin-top: 110px;
	}

	&__pagination {
		display: flex;
		justify-content: space-between;
		margin: 12px auto 0;
		max-width: 955px;
	}

	&__pagination-arrow {
		display: flex;
		align-items: center;
		cursor: pointer;
		font-size: 16px;
		color: $colorPurple;
		padding: 10px 0;

		svg {
			fill: $colorPurple;
			height: 20px;
		}
	}

	&__pagination-next svg {
		margin-left: 15px;
	}

	&__pagination-prev svg {
		margin-right: 15px;
		transform: rotate(180deg);
		margin-top: -3px;
	}

	&__link-more {
		display: none;
		font-size: 14px;
		color: rgb(246, 100, 124);
		text-decoration: underline;
	}

	@media (max-width: 1024px) {
		padding-top: 55px;

		&__decor_right {
			display: none;
		}

		&__decor_ellipse {
			display: none;
		}

		&__title {
			font-size: 36px;
			padding-bottom: 10px;
		}

		&__to_do_block {
			padding: 25px;
			margin: 20px 0;
		}

		&__text_block {
			&.cases__row {
				flex-direction: column;

				.cases__item-text {
					margin-bottom: 20px;
				}
			}
			.cases__col {
				width: 100%;
			}
		}

		&__statistics {
			padding: 25px;
			flex-direction: column;
			margin: 20px 0;
		}

		&__statistics-tables {
			padding-left: 0;
		}

		&__statistics-graph {
			width: 100%;
			margin-bottom: 25px;

			img {
				width: 100%;
			}
		}

		&__site {
			flex-direction: column;
			align-items: center;
			margin-top: 40px;
		}

		&__site-layout {
			order: -1;
			margin-bottom: 30px;
		}

		&__site-info {
			padding-right: 0;
		}

		&__item-review {
			flex-direction: column;
			margin-top: 20px;
		}

		&__item-author {
			display: flex;
			align-items: center;
			max-width: 100%;
			margin-top: 20px;
			margin-left: 50px;
		}

		&__item-author-name {
			padding-bottom: 0;
			margin-right: 10px;
		}

		&__pagination {
			padding: 0 35px;
			margin-top: -10px;
		}
	}

	@media (max-width: 767px) {
		padding-top: 25px;
		padding-bottom: 30px;

		&__row {
			margin: 0;
		}

		&__col {
			margin: 0;
		}

		&__title {
			font-size: 24px;
			padding-bottom: 0;
			margin-bottom: -20px;
		}

		&__item-card {
			text-align: center;
			padding: 20px 15px;
		}

		&__item-header {
			justify-content: center;
			margin-bottom: 20px;
		}

		&__item-header .cases__row {
			flex-direction: column;
			align-items: center;
		}

		&__item-site_name {
			font-size: 14px;
			margin-right: 0;
			margin-bottom: 5px;
		}

		&__item-title {
			font-size: 20px;
			padding-top: 5px;
		}

		&__item-subtitle {
			font-size: 14px;
			padding-bottom: 5px;
		}

		&__item-text {
			font-size: 14px;
		}

		&__pagination {
			position: relative;
			z-index: 1;
			padding: 0;
			margin-top: -20px;
			justify-content: center;
		}

		&__pagination-arrow {
			font-size: 0;
			padding: 10px;
		}

		&__pagination-arrow svg {
			margin: 0;
		}

		&__link-more {
			display: block;
		}
	}
}