.contacts {

	.container {
		position: relative;
	}

	&__info {
		position: absolute;
		top: 130px;
		left: 15px;
		z-index: 1;
		max-width: 360px;
		background-color: rgb(255, 255, 255);
		padding: 45px 47px;
	}

	&__info-item {
		margin-bottom: 30px;
	}

	&__info-title {
		font-size: 14px;
		color: rgb(171, 175, 209);
		margin-bottom: 5px;
	}

	&__info-phone {
		font-size: 23px;
		color: rgb(82, 88, 153);
		font-weight: bold;
	}

	&__info-location {
		font-size: 18px;
		color: $colorPurple;
	}

	&__info-email {
		font-size: 18px;
		color: $colorPurple;
		text-decoration: underline;
	}

	&__social {
		display: flex;
		align-items: center;
		margin-top: 40px;
		margin-left: -23px;
	}

	&__social-link {
		padding: 10px 23px;
	}

	&__social-link svg {
		width: 20px;
		height: 20px;
		fill: #abafd1;
		transition: $transitionPrimary;

		&:hover {
			fill: #686ca2;
		}
	}

	#map {
		width: 100%;
		height: 740px;
		// pointer-events: none;
	}

	@media (max-width: 767px) {
		&__info {
			position: static;
			max-width: 100%;
			padding: 10px;
			text-align: center;
			padding-bottom: 25px;
		}

		&__social {
			margin: 0;
			justify-content: center;
			padding-top: 20px;
		}

		#map {
			height: 300px;
		}
	}
}


[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}