.contract {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: center;

	&--sm {
		.contract__img {
			width: 215px;
			height: 305px;
		}

		.contract__img:after {
			top: 10px;
			left: 10px;
			width: 215px;
			height: 305px;
		}

		.contract__img-pic {
			border-width: 10px;
		}

		.contract__img-hover .search-icon {
			width: 40px;
			height: 40px;
		}
	}

	&__decor_ellipse {
		position: absolute;
		top: 0;
		left: -300px;
		width: 465px;
		height: 315px;
		background: url('../images/ellipse_bg.svg');
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__img {
		width: 340px;
		position: relative;
		font-size: 0;
		line-height: 1;
		cursor: pointer;

		&:after {
			position: absolute;
			top: 15px;
			left: 15px;
			content: '';
			width: 340px;
			height: 465px;
			background-color: rgb(241, 243, 252);
		}

		&:hover {
			.contract__img-hover {
				opacity: 1;
			}
		}
	}

	&__img-hover {
		opacity: 0;
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(221, 225, 254, 0.78);
		z-index: 100;
		transition: $transitionPrimary;
		.search-icon {
			margin: auto;
			fill: #4a60f3;
			width: 60px;
			height: 60px;
		}
	}

	&__img-pic {
		position: relative;
		z-index: 99;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border: 20px solid rgb(221, 225, 254);
	}

	&__info {
		z-index: 1;
		flex: 1;
		max-width: 510px;
		margin-left: 100px;
	}

	&__info-title {
		max-width: 485px;
		margin: 0;
		font-size: 36px;
		color: $colorPurple;
		font-weight: bold;
		margin-top: 28px;
		margin-bottom: 42px;
	}

	&__info-list li {
		position: relative;
		font-size: 18px;
		font-weight: 300;
		color: $colorPurple;
		padding-left: 40px;
		padding: 8px 0 8px 40px;

		&:before {
			position: absolute;
			top: 14px;
			left: 0;
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			border: 2px solid rgb(247, 108, 114);
		}
	}

	@media (max-width: 1024px) {

		&__decor_ellipse {
			top: -35px;
		}
	
		&__img {
			width: 270px;
		}

		&__img-pic {
			border-width: 15px;
		}

		&__img:after {
			width: 270px;
			height: 365px;
		}

		&__info {
			max-width: 405px;
			margin-left: 70px;
		}

		&__info-list {
			li {
				font-size: 16px;
			}
		}

		&__info-title {
			margin-top: 0;
			margin-bottom: 30px;
			font-size: 30px;
		}
	}

	@media (max-width: 767px) {

		&__decor_ellipse {
			left: -375px;
		}

		&__info {
			margin-left: 0;
		}

		&__info-list li {
			font-size: 14px;
		}

		&__info-title {
			text-align: center;
			font-size: 22px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}