.discount {
	position: relative;
	background-color: #f1f3fc;
	overflow: hidden;

	.container {
		position: relative;
	}

	@keyframes discountRight {
		0%, 100% {
			transform: rotate(-20deg);
		}

		50% {
			transform: rotate(-21deg);
		}
	}

	.decor-left {
		position: absolute;
		left: -310px;
		bottom: -152px;
		max-width: 364px;
	}

	.decor-right {
		position: absolute;
		top: -219px;
		right: -656px;
		transform: rotate(-20deg);
		max-width: 590px;
		animation: discountRight 1.5s ease-in-out infinite;
	}

	.container {
		position: relative;
		padding-top: 118px;
		padding-bottom: 127px;
	}

	&__content {
		position: relative;
		max-width: 790px;
		z-index: 10;
	}

	&__title {
		margin: 0;
		font-size: 36px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 42px;

		span {
			background-image: $gradientPrimary;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			@media all and (-ms-high-contrast: none),
			(-ms-high-contrast: active) {
				/* IE10+ CSS styles go here */
				color: #f76c72;
				background: transparent;
			}
		}
	}

	&__text {
		margin: 0;
		font-size: 20px;
		line-height: 1.3;
		font-weight: 300;
		color: $colorPurple;
	}

	&__form {
		font-size: 0;
		line-height: 1;
		margin-top: 56px;
	}

	&__form .btn {
		margin: 10px;
	}

	&__img {
		z-index: 1;
		position: absolute;
		top: 44px;
		right: -115px;
		max-width: 505px;
	}

	@media (max-width: 1024px) {

		.container {
			padding-top: 65px;
			padding-bottom: 70px;
		}

		&__title {
			font-size: 30px;
			text-align: center;
			margin-bottom: 30px;
		}

		&__text {
			font-size: 18px;
			text-align: center;
		}

		&__content {
			position: relative;
			z-index: 100;
			max-width: 100%;
		}

		&__form {
			max-width: 565px;
			margin: 40px auto 0;

			.form__row {
				flex-wrap: wrap;
				justify-content: center;
			}
		}

		&__img {
			display: none;
		}

		.decor-left {
			left: -190px;
			bottom: -80px;
		}

		.decor-right {
			display: block;
			top: -200px;
			right: -450px;
		}
	}

	@media (max-width: 767px) {

		.container {
			padding-top: 45px;
			padding-bottom: 45px;
		}

		&__title {
			max-width: 255px;
			margin: 0 auto 15px;
			font-size: 24px;
			line-height: 1.4;
		}

		&__text {
			font-size: 14px;
			line-height: 1.5;

			br {
				display: none;
			}
		}
		
		&__form {
			margin-top: 25px;
			
			.form__row {
				flex-direction: column;
				align-items: center;
			}
		}

		.decor-left {
			display: none;
		}

		.decor-right {
			display: none;
		}
	}
}