.game {
	padding-top: 65px;
	padding-bottom: 115px;
	background-image: url('../images/game_bg.svg');
	background-position: center bottom;
	background-repeat: no-repeat;

	&__title {
		margin: 0;
		font-size: 42px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		padding-bottom: 35px;
	}

	&__descr {
		max-width: 940px;
		margin: 0 auto;
		font-size: 20px;
		font-weight: 300;
		color: $colorPurple;
		line-height: 1.3;
		text-align: center;
	}

	&__list {
		margin-top: 115px;
	}

	&__item-wrapper {
		
	}

	&__item {
		position: relative;
	}

	&__item-bg {
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left: -410px;
		max-width: 820px;
		width: 100%;
		transition: all 0.1s linear;
	}

	&__players {
		position: relative;
		display: flex;
		justify-content: space-around;
		z-index: 1;
	}

	&__player {
		flex: 1;
		text-align: center;
		margin-bottom: 25px;
	}

	&__player-name {
		margin: 0;
		font-size: 20px;
		color: $colorPurple;
		font-weight: bold;
		padding-bottom: 10px;
	}

	&__player-caption {
		margin: 0;
		font-size: 16px;
		color: rgb(249, 128, 92);
	}

	&__player-img {
		width: 215px;
		height: 450px;
		margin: 30px auto 0;
	}

	.slick-dots {
		position: relative;
		z-index: 1;
		font-size: 0;
		display: flex;
		max-width: 580px;
		width: 100%;
		border-radius: 4px;
		background-color: rgb(224, 228, 254);
		margin: -20px auto 0;
	}

	.slick-dots li {
		flex: 1;

		&.slick-active {
			button {
				border-radius: 4px;
				background-color: rgb(74, 96, 243);
			}
		}
	}

	.slick-dots button {
		margin: 0;
		cursor: pointer;
		padding: 0;
		border: 0;
		background-color: transparent;
		width: 100%;
		height: 10px;
	}

	&__field {
		position: relative;
		overflow: hidden;
		display: none;
		background-color: #f1f3fc;
		padding: 30px 75px 25px;
		margin-top: 35px;
	}

	&__field-inner {
		// position: relative;
		// z-index: 1;
	}

	// &__field:after {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	background-image: url('../images/game_bg_field.svg');
	// 	background-repeat: no-repeat;
	// 	background-position: center;
	// }

	&__field .mfp-wrap {
		top: 0 !important;
		bottom: 0 !important;
		height: 100% !important;
	}

	&__field .budget-icon {
		animation: pulse 1s ease-in-out infinite;
	}

	@keyframes pulse {
		0%, 100%{
			transform: scale(1)
		}
		50% {
			transform: scale(1.1)
		}
	}

	&__field-text {
		margin: 0;
		font-size: 14px;
		color: $colorPurple;
		text-align: center;
		padding-top: 10px;
	}

	&__field-row {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__field-group {
		display: flex;
	}

	&__field-goalkeeper {
		// position: relative;
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
	}

	&__field-goalkeeper:after {
		content: '';
		position: absolute;
		top: -5px;
		left: 50%;
		margin-left: -70px;
		border: 5px solid rgb(209, 212, 253);
		width: 130px;
		height: 54px;
		z-index: 3;

		@media (max-width: 767px) {
			width: 160px;
			height: 65px;
			margin-left: -85px;
		}
	}

	&__field-centreback {
		// position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		max-width: 400px;
		width: 100%;
	}

	&__field-centreback:before {
		content: '';
		position: absolute;
		top: -5px;
		left: 50%;
		margin-left: -230px;
		border: 5px solid rgb(209, 212, 253);
		width: 450px;
		height: 190px;
		background-color: #f1f3fc;
		z-index: 2;

		@media (max-width: 767px) {
			width: 265px;
			height: 160px;
			margin-left: -137.5px;
		}
	}

	&__field-centreback:after {
		content: '';
		position: absolute;
		top: 100px;
		left: 50%;
		margin-left: -80px;
		width: 160px;
		height: 160px;
		border: 5px solid rgb(209, 212, 253);
		border-radius: 50%;
		z-index: 1;

		@media (max-width: 767px) {
			top: 120px;
			width: 90px;
			height: 90px;
			margin-left: -50px;
		}
	}

	&__field-fullback {
		margin-top: 50px;
	}

	&__field-forward {
		display: flex;
		justify-content: space-between;
		max-width: 340px;
		width: 100%;
		margin: 0 auto;
	}

	&__field-forward:after {
		content: '';
		position: absolute;
		bottom: -120px;
		left: 50%;
		margin-left: -80px;
		width: 160px;
		height: 160px;
		border: 5px solid rgb(209, 212, 253);
		border-radius: 50%;

		@media (max-width: 767px) {
			bottom: -55px;
			width: 90px;
			height: 90px;
			margin-left: -50px;
		}
	}

	&__field-centre_midfield {
		display: flex;
		justify-content: space-between;
		max-width: 380px;
		width: 100%;
		margin-top: 40px;
	}

	&__field-midfield {
		margin-top: 80px;
	}

	&__field-player {
		position: relative;
		z-index: 4;
		display: block;
		max-width: 135px;
		flex: 1;
		margin: 10px;
	}

	&__field-icon {
		width: 50px;
		height: 50px;
		fill: #fff;
		background: $colorPurple;
		border-radius: 50%;
		padding: 12px;
		margin: 0 auto;
	}

	@media (max-width: 1024px) {
		background: none;
		padding-top: 45px;
		padding-bottom: 40px;
		
		&__title {
			font-size: 36px;
			padding-bottom: 25px;
		}

		&__descr {
			font-size: 18px;
		}

		&__field {
			display: block;
		}

		.game__list {
			display: none;
		}
	}

	@media (max-width: 767px) {
		padding-top: 20px;
		padding-bottom: 30px;

		&__title {
			font-size: 24px;
			padding-bottom: 0;
		}

		&__descr {
			display: none;
		}

		&__field {
			padding-top: 45px;
			padding-bottom: 50px;
			padding-left: 15px;
			padding-right: 15px;
		}

		&__field-inner {
			max-width: 290px;
			margin: 0 auto;
		}

		&__field-icon {
			width: 40px;
			height: 40px;
			padding: 10px;
		}

		&__field-text {
			font-size: 0;
			padding: 0;
		}

		&__field-fullback {
			margin-top: 0;
		}

		&__field-midfield {
			margin-top: 40px;
		}

		// &__field-centre_midfield {
		// 	margin-top: 30px;
		// }

		&__field-forward {
			max-width: 170px;
			margin-top: 40px;
			justify-content: center;
		}
	}
}