.hero {
	position: relative;
	padding-top: 128px;
	padding-bottom: 120px;

	.container {
		position: relative;
		display: flex;
	}

	&__decor_ellipse {
		position: absolute;
		top: 66px;
		left: -290px;
		width: 465px;
		height: 315px;
		background: url('../images/ellipse_bg.svg');
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__image {
		overflow-x: hidden;
	}

	&__image-pic {
		max-width: 900px;
		position: absolute;
		top: -129px;
		right: -376px;
	}

	.breadcrumb {
		margin-top: 23px;
	}

	&__title {
		margin: 0;
		font-size: 72px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		padding-top: 55px;
		padding-bottom: 35px;
	}

	&__title--sm {
		max-width: 700px;
		font-size: 56px;
		line-height: 1.3;
		padding-bottom: 45px;
	}

	&__title span {
		font-size: 36px;
	}

	&__title-descr {
		font-size: 30px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.4;
		padding-top: 25px;
	}

	&__title-accent {
		background: $gradientPrimary;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		display: table;
		padding-top: 8px;

		@media all and (-ms-high-contrast: none),
		(-ms-high-contrast: active) {
			/* IE10+ CSS styles go here */
			color: #f76c72;
			background: transparent;
		}
	}

	&__subtitle {
		font-size: 30px;
		color: $colorPurple;
		line-height: 1.2;
		font-weight: bold;
	}

	&__content {
		max-width: 760px;
		z-index: 10;
	}

	&__form {
		margin-top: 50px;
	}

	&__form-footer {
		padding-top: 10px;
	}

	.form__row .btn {
		margin: 10px;
	}

	&__form-caption {
		margin: 0;
		font-size: 22px;
		color: $colorPurple;
		padding-bottom: 20px;
	}

	@keyframes animate_benefits {
		from {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}
		to {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}

	&__benefits {
		margin-top: 80px;
		display: flex;
		margin-left: -15px;

		&.is-animated {
			animation: animate_benefits 0.8s linear;
		}	
	}

	&__benefits-item {
		display: flex;
		align-items: center;
		max-width: 420px;

		&.is-active {
			.hero__benefits-inner {
				display: block;
			}

			.hero__benefits-pagination {
				display: none;
			}
		}
	}

	&__benefits-inner {
		display: none;
		width: 100%;
	}

	&__benefits-content {
		// display: none;
		display: flex;
		align-items: center;
		margin-left: 15px;
		margin-right: 10px;
	}

	&__benefits-icon {
		min-width: 50px;
		fill: #f9805c;
		margin-right: 30px;
	}

	&__benefits-text {
		margin: 0;
		font-size: 18px;
		color: $colorPurple;
	}

	&__benefits-text span {
		font-weight: 700;
	}

	&__benefits-pagination {
		width: 15px;
		min-width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: rgb(221, 225, 254);
		margin: 15px;
		cursor: pointer;
	}

	@media (min-width: 1921px) {
		.container {
			position: static;
		}

		&__image-pic {
			top: 0;
			right: 0;
		}
	}

	@media (max-width: 1024px) {
		padding-top: 130px;
		padding-bottom: 50px;

		&__decor_ellipse {
			top: 20px;
			left: -360px;
		}

		&__content {
			max-width: 480px;
		}

		&__title {
			font-size: 62px;
			line-height: 1.3;
			padding-top: 20px;
			padding-bottom: 30px;

			span {
				font-size: 30px;
			}
		}

		&__title--sm {
			font-size: 46px;
		}

		&__title--sm .hero__title-descr {
			font-size: 24px;
		}

		&__title-accent {
			padding-top: 0;
		}

		&__subtitle {
			font-size: 24px;
		}

		&__form {
			margin-top: 40px;
		}
		
		&__image-pic {
			// right: -475px;
			right: -396px;
			max-height: 900px;
		}

		&__benefits {
			display: block;
		}

		&__benefits-inner {
			display: block;
		}

		&__benefits-item {
			display: block;
		}

		&__benefits-pagination {
			display: none;
		}

		.form__row {
			margin: 0;
			flex-direction: column;
			max-width: 315px;
		}

		.form__row .btn {
			margin: 0;
		}

		.form__field {
			margin: 0;
			margin-bottom: 15px;
		}

		&__form-caption {
			font-size: 20px;
			max-width: 370px;
		}
	}

	@media (max-width: 1100px) {
		&__title--mobile-xs {
			font-size: 35px;
			max-width: 440px;
		}

		&__title--mobile-xs .hero__title-descr {
			font-size: 20px;
			max-width: 320px;
		}
	}

	@media (max-width: 767px) {
		padding-top: 75px;
		padding-bottom: 20px;

		&__decor_ellipse {
			top: 188px;
			right: -370px;
			left: auto;
		}

		&__form-footer.form__row {
			margin: 0;
		}

		&__content {
			max-width: 100%;
			width: 100%;
		}

		&__title {
			text-align: center;
			font-size: 34px;
			line-height: 1.4;
			padding-top: 20px;
			padding-bottom: 15px;

			span {
				font-size: 24px;
			}
		}

		&__title--sm {
			max-width: 100%;
			font-size: 24px;
		}

		&__title-accent {
			margin: 0 auto;
		}

		&__subtitle {
			font-size: 18px;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		&__form {
			margin-top: 15px;
		}

		&__title-descr {
			font-size: 18px;
			padding-top: 10px;
		}

		&__title--sm .hero__title-descr {
			font-size: 18px;
		}

		&__title--mobile-xs .hero__title-descr {
			max-width: 100%;
		}

		&__benefits {
			margin-top: 35px;
			margin-left: 0;

			.slick-dots {
				margin-left: 0;
				justify-content: center;
			}
		}

		&__benefits-item {
			max-width: 100%;
		}

		&__benefits-content {
			margin: 0;
			text-align: center;
			flex-direction: column;
		}

		&__benefits-icon {
			margin-right: 0;
			margin-bottom: 20px;
		}

		&__benefits-text {
			font-size: 16px;
		}

		&__benefits-pagination {
			margin-left: 0;
			margin-top: 20px;
		}

		&__form-caption {
			font-size: 18px;
			text-align: center;
			padding-bottom: 30px;
			max-width: 100%;
		}

		.form__row {
			margin: 0;
			align-items: flex-start;
			max-width: 100%;

			.btn--primary {
				min-width: 290px;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&__image {
			display: none;
		}
	}
}