.how_much {
	overflow: hidden;
	background-color: rgb(241, 243, 252);

	.container {
		position: relative;
		padding-top: 115px;
		padding-bottom: 100px;
	}

	@keyframes how_much_decor {
		0%, 100% {
			transform: rotate(198deg);
		}

		50% {
			transform: rotate(199deg);
		}
	}

	&__decor-top {
		position: absolute;
		top: -295px;
		right: -265px;
		width: 560px;
		height: 600px;
		background: url('../images/how_much__decor.svg');
		transform: rotate(198deg);
		background-size: contain;
		background-repeat: no-repeat;
		animation: how_much_decor 1.5s ease-in-out infinite;
	}

	&__inner {
		position: relative;
		z-index: 1;
	}

	&__title {
		font-size: 42px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
		text-align: center;
		margin-bottom: 85px;
	}

	&__row {
		display: flex;
		align-items: flex-start;
	}

	&__subtitle {
		font-size: 24px;
		color: $colorPurple;
		font-weight: bold;
		margin-bottom: 35px;
	}

	ol {
		list-style: none;
		counter-reset: my-awesome-counter;
		margin-bottom: 40px;
	}
	ol li {
		position: relative;
		counter-increment: my-awesome-counter;
		padding-left: 45px;
		margin-bottom: 20px;

		font-size: 20px;
		font-weight: 300;
		color: $colorPurple;
		line-height: 1.3;
	}
	ol li::before {
		position: absolute;
		top: 0;
		left: 0;
		content: counter(my-awesome-counter) ". ";
		font-size: 20px;
		color: rgb(247, 110, 112);
		font-weight: bold;
	}

	&__footer_caption {
		font-size: 20px;
		color: $colorPurple;
		font-weight: 300;
		line-height: 1.3;
		margin-left: 45px;

		span {
			font-weight: 700;
		}
	}

	&__get {
		max-width: 460px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		border-radius: 10px;
		background-color: rgb(255, 255, 255);
		padding: 50px;
		margin-left: 50px;
	}

	&__get-title {
		width: 100%;
		font-size: 22px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.318;
		margin-bottom: 30px;
	}

	@media (max-width: 1024px) {
		&__title {
			font-size: 36px;
		}
	}

	@media (max-width: 767px) {

		.container {
			padding-top: 30px;
			padding-bottom: 25px;
		}

		&__decor-top {
			display: none;
		}
		
		&__title {
			font-size: 24px;
			margin-bottom: 25px;
		}

		&__subtitle {
			font-size: 18px;
			margin-bottom: 20px;
		}

		&__row {
			flex-direction: column;
			align-items: center;
		}

		ol {
			margin-bottom: 15px;
		}

		ol li {
			padding-left: 25px;
			font-size: 16px;
			margin-bottom: 10px;
		}

		ol li::before {
			font-size: 16px;
		}

		&__footer_caption {
			margin-left: 25px;
			margin-right: 13px;
		}

		&__get {
			margin-left: 0;
			padding: 12px;
			margin-top: 30px;
		}

		&__get-title {
			font-size: 18px;
			margin-bottom: 20px;
		}
	}
}