.price {
	padding-bottom: 85px;

	&__title {
		margin: 0;
		text-align: center;
		font-size: 42px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
		margin-bottom: 35px;

		br {
			display: none;
		}
	}

	&__tabs {
		display: flex;
		justify-content: center;
		margin-bottom: 55px;
	}

	&__tabs-item {
		margin: 0 25px;

		&.active {
			.price__tabs-link {
				color: rgb(247, 114, 112);
				border-color: rgb(247, 114, 112);
			}
		}
	}

	&__tabs-link {
		display: block;
		font-size: 22px;
		color: $colorPurple;
		padding: 10px 0;
		transition: $transitionPrimary;
		border-bottom: 3px solid transparent;
	}

	&__tabs-link:hover {
		border-color: $colorPurple;

		&.is-active {
			border-color: rgb(247, 114, 112);
		}
	}
	
	&__content {
		max-width: 950px;
		margin: 0 auto;
	}

	&__content-item {
		border-bottom: 2px solid rgb(241, 243, 252);
		padding: 30px 2px;
	}

	&__content-item:first-child {
		border-top: 2px solid rgb(241, 243, 252);
	}

	&__content-row {
		display: flex;
		align-items: center;
	}

	&__content-info {
		flex: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 70px;
	}

	&__content-title {
		margin: 0;
		font-size: 22px;
		color: $colorPurple;
		font-weight: 300;
	}

	&__content-cost {
		margin: 0;
		font-size: 22px;
		color: $colorPurple;
		font-weight: bold;
	}

	@media (max-width: 1024px) {
		&__title {
			font-size: 36px;
		}
	}

	@media (max-width: 767px) {
		padding-top: 15px;
		padding-bottom: 40px;

		&__tabs {
			flex-direction: column;
			margin-bottom: 30px;
		}

		.tabs--open {
			.price__tabs-item {
				display: block;
			}
		}

		&__tabs-item {
			position: relative;
			display: none;
			width: 290px;
			height: 65px;
			border: 2px solid rgb(184, 187, 224);
			border-radius: 9px;
			background-color: rgb(255, 255, 255);
			// border-bottom: 0;
			padding: 10px 25px;
			margin: 0 auto 10px;

			&.active {
				display: block;
				order: -1;

				.price__tabs-link {
					border-bottom: 0;
					color: $colorPurple;
				}
			}
		}

		&__tabs-item.active:after {
			position: absolute;
			top: 24px;
			right: 20px;
			content: '';
			background-image: url("../images/arrow_top.svg");
			background-size: contain;
			width: 15px;
			height: 15px;
		}

		&__tabs-link {
			font-size: 18px;
		}

		&__title {
			font-size: 24px;
			margin-bottom: 20px;

			br {
				display: block;
			}
		}

		&__content-row {
			flex-direction: column;
		}

		&__content-item {
			padding: 25px 0;
		}

		&__content-info {
			flex-direction: column;
			padding-right: 0;
			margin-bottom: 20px;
		}

		&__content-title {
			padding-bottom: 10px;
		}
	}
}