.promo {
	position: relative;
	z-index: 1;
	padding-top: 30px;
	padding-bottom: 75px;

	&__header {
		max-width: 900px;
	}
	
	&__title {
		margin: 0;
		font-size: 36px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		padding-bottom: 35px;
	}

	&__descr {
		margin: 0;
		font-size: 20px;
		color: rgb(82, 88, 153);
		font-weight: 300;
		line-height: 1.3;
	}

	&__list {
		display: flex;
		// justify-content: space-between;
		margin: 80px -30px 0;
	}

	&__item {
		flex: 1;
		margin: 0 30px;
	}

	&__item-img {
		height: 200px;
		margin-bottom: 50px;
	}

	&__item-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 50px;
	}

	&__item-title {
		display: block;
		font-size: 24px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		padding-top: 3px;
		padding-bottom: 20px;
		background: linear-gradient( 90deg, rgb(251,149,69) 0%, rgb(246,99,125) 75%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		@media all and (-ms-high-contrast: none),
		(-ms-high-contrast: active) {
			/* IE10+ CSS styles go here */
			color: #f76c72;
			background: transparent;
		}
	}

	&__item-link {
		display: flex;
		flex-direction: column;
		font-size: 16px;
		color: $colorPurple;
		padding: 3px 0;
	}

	&__item-link:after {
		content: '';
		height: 1px;
		width: 0;
		background-color: $colorPurple;
		transition: $transitionPrimary;
	}

	&__item-link:hover:after {
		width: 100%;
	}

	&__item-price {
		font-size: 22px;
		color: $colorPurple;
		font-weight: bold;
		margin-top: 20px;
	}

	&__item-more {
		// display: inline-block;
		display: inline-flex;
		width: 50px;
		height: 50px;
		border: 2px solid rgba(223, 199, 199, 0.2);
		border-radius: 50%;
		transition: $transitionPrimary;
		margin-top: 30px;
		margin-left: 50px;
	}

	&__item-more:hover {
		border-color: $colorPurple;
	}

	&__item-more svg {
		height: 20px;
		margin: auto;
		fill: $colorPurple;
	}

	@media (max-width: 1024px) {
		padding-top: 40px;
		padding-bottom: 50px;

		&__title {
			font-size: 30px;
			padding-bottom: 30px;
		}

		&__descr {
			font-size: 18px;
		}

		&__list {
			margin-top: 50px;
			flex-direction: column;
		}

		&__item {
			display: flex;
			margin-bottom: 60px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__item-img {
			width: 275px;
			height: auto;
			margin-bottom: 0;
		}

		&__item-content {
			padding-top: 10px;
		}

		&__item-more {
			margin: auto 0 auto auto;
		}
	}

	@media (max-width: 767px) {
		padding: 20px 0;

		&__header {
			margin-bottom: 20px;
			text-align: center;
		}

		&__title {
			font-size: 22px;
			padding: 0 10px 10px;
		}

		&__descr {
			font-size: 14px;
		}
		
		&__list {
			display: block;
			margin: 0;
		}

		&__item {
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin: 0;
		}

		&__item-content {
			margin-left: 0;
			align-items: center;
		}

		&__item-img {
			max-width: 190px;
			margin: 0 auto 15px;
		}

		&__item-title {
			font-size: 19px;
			padding-bottom: 15px;
		}

		&__item-price {
			font-size: 18px;
		}

		&__item-link {
			font-size: 13px;
		}

		&__item-more {
			border: none;
			width: auto;
			height: auto;
			margin: 0;
			margin-top: 20px;

			svg {
				display: none;
			}

			&:before {
				display: block;
				content: 'Подробнее';
				font-size: 13px;
				color: rgb(247, 106, 117);
				text-decoration: underline;
			}
		}

		.carousel-arrows {
			display: flex;
		}
	}
}