.page-reviews {
	// margin-top: 145px;
	padding-bottom: 120px;

	&__footer {
		display: flex;
		justify-content: center;
		margin-top: 80px;
	}

	&__link-more {
		display: flex;
		align-items: center;
		font-size: 16px;
		color: rgb(82, 88, 153);
	}

	&__link-more:hover {
		.page-reviews__more-icon {
			border: 2px solid rgb(82, 88, 153);
		}
	}

	&__more-icon {
		padding: 14px 13px 8px;
		border: 2px solid rgba(223, 199, 199, 0.2);
		border-radius: 50%;
		margin-left: 20px;
		transition: all 0.3s ease-in-out;
	}

	&__more-icon svg {
		width: 20px;
		height: 20px;
		fill: rgb(82, 88, 153);
		transform: rotate(90deg);
	}
	
	@media (max-width: 767px) {
		// margin-top: 90px;
		padding-bottom: 50px;

		&__header {
			text-align: center;
		}

		&__footer {
			margin-top: 40px;
		}
	}
}


.review {
	padding: 45px 50px;
	background-color: #fff;
	box-shadow: 0px 4px 40px 0px rgba(231, 231, 231, 0.53);
	margin-bottom: 30px;

	&__row {
		display: flex;
		align-items: flex-start;
	}

	&__row .review__content {
		margin-right: 50px;
	}

	&__video {
		width: 320px;
		min-width: 320px;
		margin-top: 15px;
		margin-right: -15px;
	}

	&__video-inner {
		position: relative;
		display: block;
		font-size: 0;
		line-height: 1;

		&:after {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			content: '';
			background-color: rgba(82, 88, 153, 0.5);
		}
	}

	&__video-img {
		width: 100%;
		height: auto;
	}

	&__video-play {
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		width: 75px;
		height: 75px;
		border-radius: 50%;
		background-color: rgb(255, 255, 255);
	}

	&__video-icon {
		width: 30px;
		height: 30px;
		fill: rgb(82, 88, 153);
		margin: auto;
	}

	&__site {
		margin: 0;
		font-size: 16px;
		font-weight: 300;
		color: rgb(247, 108, 114);
		margin-bottom: 20px;
	}

	&__title {
		margin: 0;
		// color: $colorPurple;
		color: rgb(82, 88, 153);
		font-size: 28px;
		font-weight: bold;
		margin-bottom: 25px;
	}

	&__text {
		position: relative;
		padding: 25px 20px 30px;
	}

	&__text:before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		content: '';
		background: url('../images/quote_left.svg');
		background-size: contain;
		width: 102px;
		height: 68px;
	}

	&__text:after {
		position: absolute;
		right: 0;
		bottom: 0;
		display: block;
		content: '';
		background: url('../images/quote_right.svg');
		background-size: contain;
		width: 100px;
		height: 68px;
	}

	&__text p {
		margin: 0;
		position: relative;
		z-index: 1;
		font-size: 18px;
		font-weight: 300;
		color: rgb(82, 88, 153);
		line-height: 1.444;
		margin-bottom: 15px;
	}

	&__author-name {
		margin: 0;
		font-size: 20px;
		color: rgb(82, 88, 153);
		font-weight: bold;
		line-height: 1.3;
		padding-bottom: 5px;
	}

	&__author-pos {
		margin: 0;
		font-size: 15px;
		font-weight: 300;
		color: rgb(82, 88, 153);
	}

	@media (max-width: 1024px) {
		padding: 35px;

		&__row .review__content {
			margin-right: 30px;
		}
	}

	@media (max-width: 767px) {
		padding: 20px;
		margin-bottom: 15px;

		&__row {
			flex-direction: column;
		}
		&__row .review__content {
			margin-right: 0;
		}

		&__video {
			margin-top: 0;
			margin-right: 0;
			width: 100%;
			min-width: 100%;
			margin-bottom: 15px;
			order: -1;
		}
		
		&__site {
			font-size: 14px;
		}

		&__title {
			font-size: 20px;
		}

		&__text {
			padding: 0;
			margin-bottom: 20px;
		}

		&__text p {
			font-size: 16px;
			margin-bottom: 10px;
		}

		&__text:before, &__text:after {
			display: none;
		}
	}
}