.page-seo {
	
	&__header {
		position: relative;
		z-index: 1;
		text-align: center;
		padding-top: 120px;
		padding-bottom: 35px;
	}

	&__title {
		margin-bottom: 60px;
	}

	&__text {
		margin: 0;
		font-size: 24px;
		font-weight: 300;
		color: $colorPurple;
		line-height: 1.5;
		text-align: center;
		margin-bottom: 20px;
	}

	@media (max-width: 1024px) {
		&__title {
			margin-bottom: 40px;
		}

		&__text {
			font-size: 20px;
			margin-bottom: 15px;
		}
	}

	@media (max-width: 767px) {
		&__title {
			margin-bottom: 25px;
		}
	}
}

.seo {
	padding-top: 110px;

	&__title {
		font-size: 42px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
		text-align: center;
		margin-bottom: 85px;
	}

	&__row {
		display: flex;
		align-items: center;
		margin: 0 -30px;
	}

	&__column {
		width: 50%;
		padding: 0 30px;
	}

	&__column--reversed {
		.seo__block-img {
			margin-left: 0;
			margin-right: -185px;
		}
	}

	&__block {
		margin-bottom: 75px;
	}

	&__block-title {
		font-size: 30px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
		margin-bottom: 30px;
	}

	ul li {
		position: relative;
		font-size: 18px;
		color: $colorPurple;
		font-weight: 300;
		line-height: 1.444;
		margin-bottom: 10px;
		padding-left: 40px;
	}

	ul li:before {
		position: absolute;
		top: 3px;
		left: 0;
		content: '';
		height: 6px;
		width: 6px;
		border: 2px solid rgb(247, 108, 114);
		border-radius: 50%;
	}

	ul {
		margin-bottom: 40px;
	}

	&__block-img {
		max-height: 610px;
		margin-left: -185px;
	}

	&__block-caption {
		font-size: 18px;
		color: $colorPurple;
		font-weight: bold;
		line-height: 1.444;
		margin-bottom: 25px;
	}

	@media (max-width: 1439px) {
		&__block-img {
			margin: 0;
		}

		&__column--reversed {
			.seo__block-img {
				margin-right: 0;
			}
		}
	}

	@media (max-width: 1024px) {
		padding-top: 50px;

		&__title {
			font-size: 36px;
			margin-bottom: 40px;
		}

		&__row {
			margin: 0 -15px;
		}

		&__column {
			padding: 0 15px;
		}

		&__block {
			margin-bottom: 40px;
		}

		&__block-title {
			font-size: 22px;
		}
	}

	@media (max-width: 767px) {
		padding-top: 25px;

		&__title {
			font-size: 24px;
			margin-bottom: 25px;
		}

		&__row {
			flex-direction: column;
		}

		&__column {
			width: 100%;
		}

		&__block {
			margin-bottom: 25px;
		}

		&__block-img {
			max-width: 290px;
			max-height: 260px;
			margin-left: 0;
			margin-bottom: 20px;
		}
		
		&__block-title {
			font-size: 22px;
			margin-bottom: 20px;
		}

		ul li {
			font-size: 16px;
			padding-left: 30px;
		}

		&__column--reversed {
			order: -1;

			.seo__block-img {
				margin-right: 0;
			}
		}

		.btn--primary {
			margin-bottom: 20px;
		}
	}
}