.services {
	padding-top: 35px;
	padding-bottom: 67px;

	&__title {
		margin-bottom: 91px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		flex: 260px;
		text-align: center;
		margin-bottom: 35px;
	}

	&__item-name {
		font-size: 22px;
		font-weight: 300;
		color: $colorPurple;
		margin-bottom: 45px;
	}

	&__item-img_holder {
		height: 189px;
		margin-bottom: 35px;
	}

	&__item-img {
		// max-width: 100%;
		// height: auto;
		height: 189px;
		max-width: 200px;
	}

	&__item-price {
		font-size: 26px;
		color: $colorPurple;
		font-weight: bold;
		margin-bottom: 25px;
	}

	&__item-more {
		font-size: 18px;
		color: rgb(247, 106, 117);
		font-weight: 300;
		text-decoration: underline;
		line-height: 1.333;
	}

	@media (max-width: 1024px) {
		&__title {
			margin-bottom: 50px;
		}

		&__item-name {
			margin-bottom: 20px;
		}
		&__item-img_holder {
			margin-bottom: 25px;
		}

		&__item-price {
			margin-bottom: 10px;
		}
	}

	@media (max-width: 767px) {
		padding-top: 40px;
		padding-bottom: 10px;

		&__title {
			margin-bottom: 35px;
		}

		&__item-name {
			font-size: 18px;
			margin-bottom: 18px;
		}

		&__item-price {
			font-size: 22px;
			margin-bottom: 13px;
		}

		&__item-more {
			font-size: 16px;
		}

		&__item-img_holder {
			height: auto;
			max-width: 162px;
			margin: 0 auto 20px;
		}
	}
}