.statistics {
	display: flex;
	padding: 40px;
	background-color: #fff;

	&__graph {
		width: 337px;
	}

	&__pic {
		margin: 0;
	}

	h5 {
		margin: 0;
		font-size: 15px;
		color: $colorPurple;
		font-weight: bold;
		padding-bottom: 15px;
	}

	.align-right {
		text-align: right;
	}

	td {
		font-size: 15px;
		color: $colorPurple;
		line-height: 1.333;
	}

	&__tables {
		display: flex;
		flex: 1;
		margin: 0 -20px;
		padding-left: 60px;
	}

	&__tables table {
		width: 50%;
		padding: 0 20px;
	}

	@media (max-width: 992px) {
		flex-direction: column;

		&__graph {
			width: 100%;
		}

		&__pic {
			width: 100%;
		}

		&__tables {
			padding-top: 20px;
			padding-left: 0;
		}
	}

	@media (max-width: 570px) {
		padding: 15px;

		&__tables {
			flex-direction: column;
		}

		&__tables table {
			width: 100%;
		}

		&__tables table:last-child thead {
			display: none;
		}
	}
}