.steps {
	padding-top: 82px;
	padding-bottom: 20px;

	&__title {
		margin-bottom: 90px;
	}

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 100px;
	}

	&__item-content {
		width: 50%;
		padding-left: 10px;
	}
	
	&__item-image {
		text-align: center;
		width: 50%;
	}

	&__item-image img {
		max-width: 350px;
		height: auto;
	}

	&__item-title {
		font-size: 30px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
		margin-bottom: 25px;
	}

	&__item ul li {
		position: relative;
		font-size: 18px;
		font-weight: 300;
		color: $colorPurple;
		line-height: 1.444;
		padding: 5px 5px 5px 40px;
	}

	&__item ul li:before {
		content: '';
		position: absolute;
		top: 11px;
		left: 0;
		width: 6px;
		height: 6px;
		border: 2px solid rgb(247, 108, 114);
		border-radius: 50%;
	}

	.slick-dots {
		justify-content: center;
	}

	@media (max-width: 1024px) {
		padding-top: 30px;

		&__title {
			margin-bottom: 40px;
		}

		&__item-image {
			width: 35%;
		}

		&__item-content {
			width: 65%;
			padding-left: 40px;
		}

		&__item-title {
			font-size: 24px;
		}
	}

	@media (max-width: 767px) {
		padding-top: 15px;

		&__title {
			margin-bottom: 30px;
		}

		&__item {
			margin-bottom: 0;
		}

		&__item-image {
			width: auto;
			margin-bottom: 33px;
		}

		&__item-image img {
			max-width: 240px;
			margin: 0 auto;
		}

		&__item-content {
			width: auto;
			padding: 0;
			margin-left: 0;
			text-align: center;
		}

		&__item-title {
			font-size: 20px;
			margin-bottom: 17px;
		}

		&__item ul li {
			padding: 0 5px;
			font-size: 16px;
			margin-bottom: 13px;
		}

		ul li:before {
			display: none;
		}
	}
}