.team {
	padding-top: 107px;
	padding-bottom: 20px;

	.contract {
		padding-top: 50px;
		padding-bottom: 115px;
		max-width: 950px;
		margin: 0 auto;
	}

	&__title {
		margin: 0;
		text-align: center;
		font-size: 36px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 40px;
	}

	&__caption {
		margin: 0 auto;
		max-width: 875px;
		font-size: 20px;
		color: $colorPurple;
		line-height: 1.3;
		font-weight: 300;
		text-align: center;
	}

	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 90px auto 0;
		max-width: 1015px;
	}

	&__item {
		min-width: 25%;
		max-width: 180px;
		text-align: center;
		margin-bottom: 77px;
	}

	&__item-img {
		width: 130px;
		height: 130px;
		object-fit: cover;
		border-radius: 50%;
	}

	&__item-position {
		margin: 0;
		font-size: 20px;
		font-weight: 300;
		color: $colorPurple;
		padding-top: 20px;
	}

	&__arrows {
		display: none;
		justify-content: center;
	}

	&__arrow {
		padding: 10px;
		margin-top: 30px;

		svg {
			fill: $colorPurple;
			height: 20px;
			margin-top: 5px;
		}

		&--prev {
			transform: rotate(180deg);
		}
	}

	@media (max-width: 1024px) {
		padding-top: 45px;

		.contract {
			padding-top: 45px;
		}

		&__list {
			margin-top: 50px;
		}

		&__item {
			margin-bottom: 60px;
		}

		&__title {
			font-size: 30px;
			margin-bottom: 33px;
		}

		&__caption {
			font-size: 18px;
		}

		.contract {
			padding-bottom: 58px;
		}
	}

	@media (max-width: 767px) {
		padding-top: 20px;

		.contract {
			padding: 40px 0;
		}

		&__title {
			font-size: 22px;
			margin-bottom: 15px;
		}

		&__caption {
			font-size: 14px;
		}

		&__text {
			font-size: 14px;
		}

		&__list {
			margin: 30px -15px 0;
		}

		&__item {
			min-width: 100%;
			max-width: 100%;
			margin-bottom: 0;
		}

		&__item-img {
			margin: auto;
			width: 100px;
			height: 100px;
		}

		&__item-position {
			font-size: 14px;
			padding-top: 10px;
		}

		&__arrows {
			display: flex;
		}
	}
}