.work {

	.container {
		position: relative;
	}

	@keyframes workDecor {
		0%, 100% {
			transform: rotate(12deg);
		}

		50% {
			transform: rotate(13deg);
		}
	}
	
	&__benefits-decor {
		position: absolute;
		bottom: -285px;
		right: -400px;
		width: 530px;
		height: 515px;
		transform: rotate(12deg);
		animation: workDecor 1.5s ease-in-out infinite;
	}

	&__benefits {
		background-color: rgb(241, 243, 252);
		padding: 85px 0;
		overflow: hidden;
	}

	&__cards {
		position: relative;
		z-index: 1;
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	&__card {
		flex: 290px;
		padding: 35px 30px;
		border-radius: 10px;
		background-color: rgb(255, 255, 255);
		margin: 15px;
	}

	&__card-title {
		font-size: 22px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.318;
		margin-bottom: 30px;
	}

	&__card li {
		position: relative;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.375;
		color: $colorPurple;
		margin: 12px 0;
		padding-left: 30px;
	}

	&__card li:before {
		position: absolute;
		top: 2px;
		left: 0;
		font-family: 'Material Icons';
		font-weight: 700;
		content: '\e5ca';
		color: rgb(247, 108, 115);
	}

	&__body {
		padding-top: 112px;
	}

	&__title {
		text-align: center;
		font-size: 42px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
		margin-bottom: 75px;
	}

	&__item {
		max-width: 1055px;
		display: flex;
		align-items: center;
		margin: 0 auto 80px;

	}

	&__item-img {
		width: 180px;
		min-width: 180px;
	}

	&__item-title {
		font-size: 23px;
		color: $colorPurple;
		font-weight: bold;
		margin-bottom: 20px;
	}

	&__item-text {
		margin: 0;
		font-size: 16px;
		color: $colorPurple;
		font-weight: 300;
		line-height: 1.563;
		padding-bottom: 15px;
	}

	&__item-text span {
		font-weight: 700;
	}

	&__item-content {
		margin-left: 75px;
	}

	&__item-more {
		display: none;
		font-size: 15px;
		color: $colorPurple;
		text-decoration: underline;
	}

	@media (max-width: 1024px) {
		&__title {
			font-size: 36px;
		}

		&__item-content {
			margin-left: 40px;
		}
	}

	@media (max-width: 767px) {

		&__item-more {
			display: block;
		}

		&__title {
			font-size: 24px;
			margin-bottom: 30px;
		}

		&__benefits-decor {
			display: none;
		}

		&__benefits {
			padding: 0;
		}

		&__cards {
			margin: 7.5px -7.5px;
		}

		&__card {
			padding: 20px;
			margin: 7.5px;
		}

		&__card-title {
			font-size: 20px;
		}

		&__card li {
			font-size: 14px;
		}

		&__body {
			padding-top: 40px;
		}

		&__item {
			flex-direction: column;
			text-align: center;
			margin-bottom: 35px;
		}

		&__item-img {
			margin-bottom: 20px;
		}

		&__item-title {
			font-size: 21px;
			margin-bottom: 15px;
		}

		&__item-text {
			font-size: 14px;
		}

		&__item-content {
			margin-left: 0;
		}

		&__item-text {
			display: none;
		}
	}
}