.article {
	padding-bottom: 30px;

	img {
		max-width: 100%;
		height: auto;
		margin-bottom: 45px;
	}

	h1 {
		margin: 0;
		font-size: 42px;
		font-family: $RotondaC;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
		padding: 30px 0;
	}

	h2 {
		font-size: 36px;
		color: $colorPurple;
		font-weight: bold;
		line-height: 1.2;
		margin-bottom: 30px;
	}

	h3 {
		font-size: 28px;
		color: $colorPurple;
		font-weight: bold;
		margin-bottom: 30px;
	}

	h4 {
		font-size: 22px;
		color: $colorPurple;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	p {
		font-size: 20px;
		font-weight: 300;
		color: $colorPurple;
		line-height: 1.4;
		margin-bottom: 30px;
	}

	ol,
	ul {
		font-size: 18px;
		font-weight: 300;
		color: $colorPurple;
		line-height: 1.3;
		margin-bottom: 20px;
	}

	li {
		position: relative;
		padding: 5px;
		padding-left: 40px;
	}

	ul li:before {
		content: '';
		width: 6px;
		height: 6px;
		border: 2px solid rgb(247, 108, 114);
		border-radius: 50%;
		position: absolute;
		top: 11px;
		left: 0;
	}

	ol {
		list-style: none;
		counter-reset: my-awesome-counter;
	}
	ol li {
		counter-increment: my-awesome-counter;
	}

	ol li::before {
		position: absolute;
		top: 6px;
		left: 0;
		content: counter(my-awesome-counter) ". ";
		color: rgb(247, 110, 112);
		font-weight: bold;
	}

	blockquote {
		font-size: 26px;
		color: rgb(82, 88, 153);
		line-height: 1.538;
		padding-top: 25px;
		padding-bottom: 30px;
		border-top: 5px solid rgb(248, 123, 98);
		border-bottom: 1px solid rgb(248, 123, 98);
		margin-top: 50px;
		margin-bottom: 40px;
	}

	table {
		display: block;
		border-collapse: collapse;
		width: 100%;
		overflow: auto;
		margin-bottom: 40px;
		border-spacing:0 5px;
	}

	tr {
		min-width: 950px;
	}
	
	thead th {
		min-width: 237px;
		font-size: 16px;
		color: rgb(248, 123, 98);
		font-weight: bold;
		line-height: 1.2;
		border-top: 1px solid rgb(248, 123, 98);
		border-bottom: 1px solid rgb(248, 123, 98);
		padding: 15px 10px 14px;
		text-align: left;
	}

	td {
		min-width: 237px;
		font-size: 16px;
		font-weight: 300;
		color: $colorPurple;
		line-height: 1.2;
		padding: 15px 10px 14px;
		border-bottom: 1px solid rgba(171, 175, 222, 0.2);
	}

	&__content {
		max-width: 980px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__header {
		padding-top: 50px;
		margin-bottom: 40px;
		background-color: #f9faff;
	}

	&__header p {
		margin-bottom: 0;
		padding-bottom: 30px;
	}

	&__header-image {
		margin-bottom: 290px;
		img {
			margin-bottom: -250px;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		padding-bottom: 40px;
	}

	&__rubric {
		font-size: 14px;
		font-weight: 300;
		color: rgb(51, 51, 51);
		border: 1px solid rgba(37, 35, 38, 0.2);
		border-radius: 20px;
		padding: 6px 12px;
		margin-right: 15px;
		transition: $transitionPrimary
	}

	&__rubric:hover {
		border-color: #000;
	}

	&__date {
		margin-left: 15px;
		font-size: 16px;
		font-weight: 300;
		color: rgb(51, 51, 51);
	}

	&__hint {
		padding: 35px 40px 5px;
		background-color: rgb(248, 248, 248);
		margin-bottom: 50px;
	}
	
	&__gallery-list {
		display: flex;
		margin-bottom: 50px;
		margin: 0 -15px 30px;
	}

	&__gallery-item {
		padding: 15px;
		
		img {
			// margin: 15px;
			margin-bottom: 0;
		}
	}

	&__gallery-img {
		margin-bottom: 0;
	}

	&__share {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $colorPurple;
		padding: 25px;
	}

	&__share-text {
		font-size: 20px;
		font-weight: 300;
		color: rgb(255, 255, 255);
		line-height: 1.3;
		margin-right: 20px;

		span {
			font-weight: bold;
		}
	}

	&__share-social {
		display: flex;
	}

	&__share-item {
		display: flex;
		border-radius: 50%;
		background-color: rgb(255, 255, 255);
		width: 50px;
		height: 50px;
		margin: 10px;
		transition: $transitionPrimary;
	}

	&__share-item:hover {
		opacity: 0.5;
	}

	&__share-icon {
		width: 20px;
		height: 20px;
		fill: $colorPurple;
		margin: auto;
	}

	@media (max-width: 1024px) {

		&__content {
			max-width: 800px;
		}

		h1 {
			font-size: 36px;
		}

		h2 {
			font-size: 30px;
		}

		h3 {
			font-size: 20px;
			margin-bottom: 20px;
		}

		p {
			font-size: 18px;
		}

		blockquote {
			font-size: 22px;
		}
		
		.container {
			max-width: 100%;
		}

		&__gallery-list {
			margin: -10px 0;
		}

		&__gallery-item {
			padding: 10px;
		}
	}

	.carousel-arrows {
		display: flex;
	}

	@media (max-width: 767px) {
		padding-bottom: 10px;

		&__header {
			padding-top: 30px;
			padding-bottom: 30px;
			margin-bottom: 30px;
			text-align: center;

			.link-back {
				justify-content: center;
			}
		}

		&__header-image {
			margin-bottom: 0;

			img {
				margin-bottom: 0;
			}
		}

		&__info {
			flex-direction: column;
			padding-bottom: 30px;
		}

		&__rubric {
			margin-right: 0;
		}

		&__date {
			margin-top: 15px;
			margin-left: 0;
		}

		h1 {
			font-size: 24px;
			padding: 20px 0;
		}

		h2 {
			font-size: 24px;
			margin-bottom: 15px;
		}

		h4 {
			font-size: 18px;
		}

		p {
			font-size: 16px;
			margin-bottom: 20px;
		}

		ul {
			font-size: 16px;
		}

		li {
			padding-left: 30px;
		}

		blockquote {
			font-size: 20px;
			padding: 15px 0;
			margin: 30px 0;
		}

		&__header p {
			margin-bottom: 0;
			padding-bottom: 20px;
		}

		&__hint {
			padding: 20px 20px 1px;
			margin-bottom: 30px;
		}

		&__gallery {
			margin-bottom: 30px;
		}

		&__gallery-list {
			margin: 0;
		}

		&__gallery-item {

			img {
				margin: 0 auto;
			}
			
		}

		&__gallery-img {
			margin: 0 auto;
		}

		&__share {
			margin: 0 -15px;
			text-align: center;
			flex-direction: column;
			padding: 25px 20px;
		}

		&__share-social {
			justify-content: center;
			flex-wrap: wrap;
		}

		&__share-text {
			margin-right: 0;
			margin-bottom: 10px;
		}

		.carousel-arrows {
			margin-top: 10px;
		}
	}
}