.breadcrumb {
	display: flex;
	align-items: center;
	&__link {
		font-size: 14px;
		color: rgb(169, 174, 211);
		padding-right: 10px;
		transition: $transitionPrimary;
	}

	&__link:after {
		content: '/';
		margin-left: 8px;
	}

	&__link:hover {
		color: $colorPurple;
	}

	&__link:last-child:after {
		display: none;
	}

	@media (max-width: 767px) {
		justify-content: center;
	}
}