.btn {
	display: inline-block;
	text-align: center;
	background-color: transparent;
	border: 0;
	cursor: pointer;

	&--default {
		padding: 15px 30px;
		border: 2px solid rgba(104, 108, 162, 0.2);
		border-radius: 5px;
		font-size: 14px;
		color: $colorPurple;
		background-color: rgba(255, 255, 255, 0.7);
		transition: $transitionPrimary;

		&:hover {
			border-color: rgb(104, 108, 162);
		}
	}

	&--primary {
		font-size: 18px;
		color: rgb(255, 255, 255);
		border-radius: 10px;
		background: $gradientPrimary;
		background-size: 100%;
		background-position: left top;
		box-shadow: 0px 10px 25px 0px rgba(250, 135, 85, 0.53);
		padding: 22.5px 25px;
		transition: $transitionPrimary;

		&:hover {
			background-position: right top;
			background-size: 200% auto;
		}
	}

	&--md {
		min-width: 265px;
	}

	&--sm {
		min-width: 220px;
	}
}