@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RotondaC';
  src: url('../fonts/RotondaC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}