.footer {
	padding-top: 47px;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__info {
		display: flex;
		align-items: center;
	}

	&__contacts {
		display: flex;
	}

	&__phone {
		font-size: 20px;
		color: $colorPurple;
		font-weight: 700;
		letter-spacing: 1px;
		margin-right: 57px;
	}

	&__email {
		font-size: 18px;
		color: $colorPurple;
		text-decoration: underline;
		margin-right: 30px;
	}

	&__address {
		font-size: 18px;
		color: $colorPurple;
	}

	&__address {
		margin: 0;
	}

	&__social {
		display: flex;
		align-items: center;
		margin-left: 70px;
	}

	&__social-link {
		padding: 10px 23px;

		&:hover svg {
			fill: #686ca2;
		}
	}

	&__social-link svg {
		width: 20px;
		height: 20px;
		fill: #abafd1;
		transition: $transitionPrimary;
	}

	&__nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 28px;
	}

	&__nav--mobile {
		display: none;
	}

	&__nav-link {
		font-size: 18px;
		font-weight: 300;
		padding: 10px 20px;
		color: $colorPurple;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	&__copyright {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 42px;
		margin-bottom: 25px;
	}

	&__copyright-text {
		margin: 0;
		font-size: 16px;
		font-weight: 300;
		color: rgb(163, 168, 205);
	}

	&__copyright-links {
		display: flex;

		a {
			padding: 5px 17px;
			transition: $transitionPrimary;

			&:last-child {
				padding-right: 0;
			}

			&:hover {
				color: #686ca2;
			}
		}
	}

	@media (max-width: 1024px) {
		padding-top: 28px;
		
		&__row {
			align-items: flex-start;
		}

		&__contacts {
			flex-direction: column;
		}

		&__phone {
			margin-right: 0;
			font-size: 18px;
			padding-bottom: 15px;
		}

		&__info {
			flex-direction: column;
		}

		&__email {
			margin-right: 0;
			font-size: 16px;
		}

		&__social {
			margin-left: 0;
		}

		&__address {
			font-size: 16px;
			margin-bottom: 5px;
		}

		&__nav {
			justify-content: center;
		}

		&__nav-link {
			font-size: 16px;
			
			&:first-child {
				padding-left: 20px;
			}

			&:last-child {
				padding-right: 20px;
			}
		}

		&__copyright {
			margin-top: 20px;
		}

		&__copyright-text {
			font-size: 14px;
		}
	}

	@media (max-width: 767px) {
		padding-top: 35px;

		&__nav {
			display: none;
		}

		&__nav--mobile {
			display: flex;
			justify-content: center;
			text-align: center;
		}

		&__nav-column {
			display: flex;
			// width: 50%;
			flex-direction: column;
			padding: 0 10px;
		}

		&__nav-link {
			font-size: 14px;
			padding: 4px;
		}

		&__nav-link:first-child {
			padding-left: 4px;
		}

		&__nav-link:last-child {
			padding-right: 4px;
		}
		
		&__row {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		&__info {
			margin-top: 15px;
		}

		&__social {
			padding: 15px 0;
		}

		&__copyright {
			flex-direction: column;
			text-align: center;
			margin-top: 30px;
		}

		&__copyright-links {
			flex-direction: column;
			margin-top: 5px;
		}

		&__copyright-links a {
			padding: 3px 10px;
		}
	}
}