.form {

	&__row {
		display: flex;
		margin: 0 -10px;
	}

	&__field {
		appearance: none;
		box-shadow: none;
		min-height: 65px;
		flex: 1;
		font-size: 18px;
		font-weight: 300;
		color: $colorPurple;
		border: 2px solid rgb(239, 240, 245);
		border-radius: 9px;
		background-color: rgb(255, 255, 255);
		padding: 0 28px;
		line-height: 58px;
		margin: 10px;
		transition: $transitionPrimary;

		&::placeholder {
			color: rgb(145, 151, 171);
			opacity: 1;
		}
	}

	&__field:focus {
		border-color: $colorPurple;
	}

	&__field--md {
		min-width: 315px;
		flex: none;
	}

	&__field--sm {
		min-width: 265px;
		flex: none;
	}

	&__textarea {
		appearance: none;
		resize: none;
		width: 100%;
		height: 180px;
		padding: 20px 28px;
		background-color: rgb(255, 255, 255);
		font-size: 18px;	
		font-weight: 300;
		color: $colorPurple;
		border-radius: 9px;
		border: 2px solid rgb(239, 240, 245);
		margin: 10px 0 20px;
		
		&::placeholder {
			color: rgb(145, 151, 171);
			opacity: 1;
		}
	}

	&__textarea--xs {
		height: 65px;
	}

	&__label {
		margin: 10px 0;
		cursor: pointer;
		display: flex;
		align-items: center;
		
		a {
			color: $colorPurple;
			text-decoration: underline;
		}
	}

	&__label-text {
		font-size: 18px;
		font-weight: 300;
		color: $colorPurple;
		line-height: 1.2;
	}

	&__checkbox {
		position: absolute;
		left: -9999px;
		opacity: 0;
	}

	&__checkbox:checked + .form__custom-checkbox:after {
		opacity: 1;
		visibility: visible;
	}

	&__custom-checkbox {
		display: flex;
		position: relative;
		width: 35px;
		height: 35px;
		min-width: 35px;
		border: 2px solid rgb(239, 240, 245);
		border-radius: 9px;
		background-color: rgb(255, 255, 255);
		margin-right: 20px;
	}

	&__custom-checkbox:after {
		opacity: 0;
		visibility: hidden;
		content: '';
		margin: auto;
		border-radius: 3px;
		background-color: rgb(248, 123, 98);
		width: 19px;
		height: 19px;
	}

	@media (max-width: 767px) {

		&__textarea {
			margin-top: 0;
		}

		&__label-text {
			font-size: 14px;
		}

		&__row {
			flex-direction: column;
			margin: 0;
		}

		&__field {
			min-width: 100%;
			margin: 0 0 15px;
		}
	}
}