.header {
	padding: 25px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;

	@keyframes HeaderMove {
		from {
			top: -80px;
		}
		to {
			top: 0;
		}
	}

	&--scrolled {
		position: fixed;
		padding: 15px 0;
		background-color: rgb(255, 255, 255);
		box-shadow: 3.536px 3.536px 21px 0px rgba(82, 88, 153, 0.1);
		animation: HeaderMove 0.2s ease-in-out;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__toggle {
		display: none;
		span {
			display: block;
			width: 35px;
			height: 4px;
			background-color: $colorPurple;
			margin-bottom: 8px;
			border-radius: 6px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__logo-pic {
		width: 170px;
		height: 35px;
	}

	&__nav-mobile-top {
		display: none;
	}

	&__nav-mobile-contacts {
		display: none;
	}

	&__contacts {
		display: flex;
		align-items: center;
		padding-left: 20px;
	}

	&__contacts-phone {
		font-size: 18px;
		color: $colorPurple;
		font-weight: 700;
		margin-right: 30px;
	}

	@media (max-width: 1160px) {

		&__logo {
			margin-right: auto;
		}

		&__nav {
			height: 100vh;
			overflow: auto;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 0;
			left: -320px;
			bottom: 0;
			z-index: 10;
			width: 320px;
			background-color: rgb(255, 255, 255);
			padding: 30px 30px 75px 50px;
			transition: $transitionPrimary;
		}

		&__nav-close {
			svg {
				width: 20px;
				height: 20px;
				fill: $colorPurple;
			}
		}

		&__nav--opened {
			opacity: 1;
			visibility: visible;
			left: 0;
		}

		&__nav-mobile-top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 50px;
		}

		&__nav-mobile-logo {
			max-width: 170px;
		}

		&__nav-mobile-contacts {
			display: block;
		}

		&__nav-mobile-phone {
			display: block;
			font-size: 24px;
			color: $colorPurple;
			font-weight: bold;
			margin-bottom: 30px;
		}

		.navigation {
			flex-direction: column;
			margin-bottom: 30px;
		}

		.navigation__link {
			display: inline-block;
			font-size: 24px;
			padding: 10px 0;
			padding-right: 35px;
		}

		.navigation__submenu-wrap {
			display: none;
			position: static;
			opacity: 1;
			visibility: visible;
			padding-top: 0;
		}

		.navigation__submenu {
			margin: 0;
			background: none;
			box-shadow: none;
			border-radius: 0;
			transition: none;
			padding: 0;
			margin-left: 15px;
			margin-bottom: 10px;
		}

		.navigation__submenu:before {
			display: none;
		}

		.navigation__submenu-link {
			color: $colorPurple;
		}

		&__holder {
			display: flex;
			align-items: center;
		}

		&__toggle {
			display: block;
			margin-right: 40px;
		}
	}

	@media (max-width: 767px) {
		padding: 15px 0;

		&__logo {
			margin-left: auto;

			&-pic {
				width: 145px;
			}
		}

		&__toggle {
			margin-right: 0;
		}

		&__toggle span {
			width: 30px;
			margin-bottom: 6px;
		}

		&__contacts {
			.btn--default {
				font-size: 0;
				text-indent: -9999px;
				padding: 10px;
				border-radius: 50%;
			}
		}
		&__contacts-phone {
			display: none;
		}

		&__request-btn {
			&:before {
				content: '';
				display: block;
				background: url('../images/call-icon.svg');
				background-size: contain;
				width: 20px;
				height: 20px;
				animation: phone 3s ease-in-out infinite;
			}

			@keyframes phone {
				0%, 100% {
					transform: rotate(0deg);
				}
				50% {
					transform: rotate(-20deg);
				}
			}
		}
	}
}

.navigation {
	display: flex;

	&__item_parent .navigation__link {
		&:after {
			position: absolute;
			top: 10px;
			right: 0;
			font-family: 'Material Icons';
			content: '\e5cf';

			@media (max-width: 1024px) {
				top: 12px;
			}
		}
	}

	&__link {
		position: relative;
		display: block;
		font-size: 16px;
		color: $colorPurple;
		padding: 10px 20px;
		transition: $transitionPrimary;
	}

	&__item {
		position: relative;
	}

	&__item:hover {
		.navigation__link {
			color: rgb(246, 103, 121);
		}
		.navigation__submenu-wrap {

			@media (min-width: 1161px) {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__submenu-wrap {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 30px;
		left: -7px;
		padding-top: 20px;
	}

	&__submenu {
		position: relative;
		min-width: 205px;
		// background-image: -webkit-linear-gradient( 12deg, rgb(251,149,69) 0%, rgb(246,99,125) 100%);
		// background: linear-gradient( 90deg, rgb(251,149,69) 0%, rgb(246,99,125) 100%);
		background: $gradientPrimary;
		box-shadow: 0px 10px 25px 0px rgba(250, 135, 85, 0.53);
		border-radius: 8px;
		padding: 15px 19px;
		transition: $transitionPrimary;

		&:before {
			position: absolute;
			top: -9px;
			right: 67px;
			content: '';
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 8.5px 9px 8.5px;
			border-color: transparent transparent #f87569 transparent;
		}
	}

	&__submenu-link {
		display: block;
		width: 100%;
		font-size: 16px;
		color: rgb(255, 255, 255);
		padding: 7px 0;

		&:hover {
			text-decoration: underline;
		}
	}
}