.modal {
	display: none;

	&.fancybox-content {
		max-width: 680px;
		width: 100%;
		padding: 0;
		background-color: transparent;
	}

	&--sm {
		&.fancybox-content{
			max-width: 390px;
		}
		
		.modal__inner {
			max-width: 390px;
			padding: 50px 60px 60px;
		}
	}

	&--done {
		.modal__inner {
			padding: 50px 35px 35px;
		}
	}
	
	.form__row {
		margin: 0 -15px;
	}

	.form__field {
		margin: 10px 15px;
	}

	.form__textarea {
		margin: 10px 15px;
	}

	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
	}

	&__close svg {
		fill: $colorPurple;
		width: 15px;
		height: 15px;
	}

	&__inner {
		position: relative;
		max-width: 680px;
		width: 100%;
		margin: 70px auto 90px;
		padding: 50px 60px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 18px 46px 0px rgba(135, 138, 179, 0.08);
		border-radius: 10px;
		background-color: rgb(249, 250, 255);
	}

	&__title {
		text-align: center;
		font-size: 22px;
		line-height: 1.3;
		color: $colorPurple;
		margin-bottom: 20px;
	}

	&__footer {
		margin-top: 20px;
		text-align: center;
	}

	@media (max-width: 767px) {

		.form__row {
			margin: 0;
		}

		.form__field {
			margin: 0 0 15px;
		}

		.form__textarea {
			margin: 0 0 15px;
		}

		&__title {
			font-size: 20px;
			margin-bottom: 15px;
		}

		&--sm {
			.modal__inner {
				padding: 30px 15px;
			}
		}

		&__inner {
			width: auto;
			max-width: 100%;
			padding: 30px 15px;
			margin: 30px 0;
		}

		&__footer {
			margin-top: 10px;
		}
	}
}

.modal_game {
	
	// max-width: 830px;
	// width: auto;
	// margin: 70px auto 15px;

	&__inner {
		position: relative;
		max-width: 830px;
		margin: 70px auto 90px;
		padding: 25px 75px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 18px 46px 0px rgba(135, 138, 179, 0.08);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__image-pic {
		width: 257px;
		height: 575px;
		margin-top: -50px;
	}

	&__content {
		margin-left: 80px;
		text-align: center;
	}

	&__title {
		margin: 0;
		font-size: 20px;
		color: $colorPurple;
		font-weight: bold;
		margin-bottom: 10px;
	}

	&__caption {
		margin: 0;
		font-size: 16px;
		font-weight: 300;
		color: rgb(249, 128, 92);
		line-height: 1.2;
		margin-bottom: 30px;
	}

	&__text {
		margin: 0;
		font-size: 18px;
		font-weight: 300;
		color: $colorPurple;
		line-height: 1.444;
		margin-bottom: 20px;
	}

	.btn--primary {
		margin-top: 60px;
	}

	.modal_game__link-back {
		cursor: pointer;
		background-color: transparent;
		border: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: -80px;
		left: 0;
		width: 100%;
		font-size: 16px;
		color: $colorPurple;
		margin-bottom: 20px;

		svg {
			width: 20px;
			height: 20px;
			fill: $colorPurple;
			transform: rotate(180deg);
			margin-top: -4px;
			margin-right: 15px;
		}
	}

	@media (max-width: 1024px) {
		max-width: 715px;

		&__inner {
			padding: 50px 40px 70px;
		}

		&__image {
			display: none;
		}

		&__content {
			margin-left: 0;
		}
	}

	@media (max-width: 767px) {
		margin: 30px 10px 90px;

		&__inner {
			margin-top: 30px;
			padding: 30px 16px;
		}

		&__caption {
			margin-bottom: 15px;
		}

		&__text {
			font-size: 14px;
		}

		.btn--primary {
			margin-top: 25px;
		}
	}
}
body.compensate-for-scrollbar {
	margin-right: 0;
}

.fancybox-container .fancybox-bg {
    background: $colorPurple;
}

.fancybox-container.fancybox-is-open .fancybox-bg {
    opacity: 0.9;
}