.tabs {
	display: flex;
	flex-wrap: wrap;
	margin-top: 48px;
	margin-bottom: 20px;
	margin-left: -14px;

	&__item.active {
		.tabs__link {
			color: rgb(248, 123, 98);
			border-bottom: 0;
			border-radius: 20px;
		}
		.tabs__link:before {
			top: -2px;
			left: -2px;
			right: -2px;
			bottom: -2px;
			opacity: 1;
		}

		.tabs__link:after {
			display: none;
		}
	}

	&__item {
		margin: 0 2px 10px;
	}

	&__link {
		display: block;
		position: relative;
		font-size: 18px;
		color: $colorPurple;
		padding: 9px 14px;
		background-color: #fff;
	}

	&__link:after {
		content: '';
		position: absolute;
		left: 14px;
		right: 14px;
		bottom: 5px;
		height: 2px;
		background-color: rgba(82, 88, 153, 0.2);
	}

	&__link:before {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		content: '';
		background-image: $gradientPrimary;
		border-radius: 20px;
	}

	@media (max-width: 1024px) {
		margin-left: -12px;

		&__link {
			font-size: 16px;
			padding: 7px 12px;
		} 
	}

	@media (max-width: 767px) {
		margin: 0 auto;
		max-width: 290px;
		flex-direction: column;

		&.tabs--open {
			.tabs__item {
				display: block;
			}
		}

		&__item {
			position: relative;
			display: none;
		}

		&__item.active {
			display: block;
			order: -1;
		}

		&__item.active .tabs__link {
			border-radius: 9px;
			color: $colorPurple;
			border: 2px solid rgb(184, 187, 224);
		}

		&__item.active:after {
			content: '';
			position: absolute;
			top: 24px;
			right: 20px;
			content: '';
			background-image: url("../images/arrow_top.svg");
			background-size: contain;
			width: 15px;
			height: 15px;
		}

		&__link {
			font-size: 18px;
			border: 2px solid rgb(184, 187, 224);
			border-radius: 9px;
			padding: 20px 30px;
		}

		&__link:before,
		&__link:after {
			display: none;
		}
	}
}