* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body, html {
    overflow-x: hidden;
    font-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    
    min-width: 320px;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Circe', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.overflow-h {
    overflow: hidden !important;
}

.page_overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(82, 88, 153, 0.4);

    &.is-active {
        opacity: 1;
        visibility: visible;
    }
}

.hidden-sm {
    @media (max-width: 767px) {
        display: none !important;
    }
}

.page-content {
    flex: auto;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;

    @media (max-width: 1024px) {
        // margin: 0 75px;
        max-width: 800px;
    }
}

.carousel-arrows {
    display: none;
    // display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    .carousel-arrow {
        font-size: 0;
        padding: 10px;
    }

    .carousel-arrow svg {
        height: 20px;
        fill: #525899;
    }
}

.carousel-arrow--prev {
    transform: rotate(180deg);
}

.title {
  font-size: 42px;
  font-family: $RotondaC;
  color: $colorPurple;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;

  @media (max-width: 1024px) {
    font-size: 36px;
  }

  @media (max-width: 767px) {
    font-size: 24px;
  }
}
.page-wrap {
  padding-top: 5px;
  margin-top: 100px;

  @media (max-width: 767px) {
    margin-top: 74px;
  }
}

.page-head {
  margin-top: 50px;
  margin-bottom: 45px;

  .breadcrumb {
    margin-bottom: 20px;
  }

  .link-back {
    margin-bottom: 30px;
  }

  .title {
    margin: 0;
    text-align: left;
  }

  @media (max-width: 767px) {
    margin: 25px 0;

    .link-back {
      justify-content: center;
      margin-left: -15px;
      margin-bottom: 20px;

      svg {
        margin-top: 2px;
      }
    }

    .title {
      text-align: center;
    }
  }
}

.link-back {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  color: #a9aed3;
  transition: $transitionPrimary;

  svg {
    width: 10px;
    height: 10px;
    transform: rotate(180deg);
    fill: #a9aed3;
    margin-top: 3px;
    margin-right: 15px;
    transition: $transitionPrimary;
  }

  &:hover {
    color: $colorPurple;

    svg {
      fill: $colorPurple;
    }
  }
}

.load-more {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #525899;
  margin: 45px auto 0;

  @media (max-width: 767px) {
    margin-top: 25px;
  }
}

.load-more__icon {
  padding: 14px 13px 8px;
  border: 2px solid rgba(223, 199, 199, 0.2);
  border-radius: 50%;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
}

.load-more__icon svg {
  width: 20px;
  height: 20px;
  fill: #525899;
  transform: rotate(90deg);
}

.load-more:hover .load-more__icon {
  border-color: $colorPurple;
}

.slick-dots {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.slick-dots button {
  cursor: pointer;
  font-size: 0;
  border: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(221, 225, 254);
  margin: 15px;
}
