{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css">
    
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body>
    
    {% include 'shared/header.html' %}
    <main class="page-content">
      {% block content %}{% endblock %}
    </main>
    
    {% include 'shared/footer.html' %}

     <div id="call_back" class="modal modal--sm">
      <div class="modal__inner">
        <div class="modal__close" data-fancybox-close>{{ sprite('close_nav') }}</div>
        <div class="modal__title">Обратный звонок</div>
        <form action="">
          <div class="form">
            <div class="form__row">
              <input type="text" placeholder="Ваше имя" class="form__field">
            </div>
            <div class="form__row">
              <input type="text" placeholder="Ваш телефон" class="form__field">
            </div>
            <div class="modal__footer">
              <a href="#done_modal" class="btn btn--md btn--primary modal-link">Перезвоните мне</a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="done_modal" class="modal modal--sm modal--done">
      <div class="modal__inner">
        <div class="modal__close" data-fancybox-close>{{ sprite('close_nav') }}</div>
        <div class="modal__title">Спасибо за вашу заявку!<br>Наш менеджер свяжется с вами в ближайшее время</div>
      </div>
    </div>

    <div id="message_modal" class="modal">
      <div class="modal__inner">
        <div class="modal__close" data-fancybox-close>{{ sprite('close_nav') }}</div>
        <div class="modal__title">Напишите нам</div>
        <form action="">
          <div class="form">
            <div class="form__row">
              <input type="text" placeholder="Ваше имя" class="form__field">
              <input type="text" placeholder="Ваш телефон" class="form__field">
            </div>
            <div class="form__row">
              <input type="text" placeholder="Электронная поста" class="form__field">
            </div>
            <div class="form__row">
              <textarea placeholder="Сообщение" class="form__textarea form__textarea--xs"></textarea>
            </div>
            <div class="modal__footer">
              <a href="" class="btn btn--md btn--primary modal-link">Отправить соощение</a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="application_modal" class="modal">
      <div class="modal__inner">
        <div class="modal__close" data-fancybox-close>{{ sprite('close_nav') }}</div>
        <div class="modal__title">Оставить заявку</div>
        <form action="">
          <div class="form">
            <div class="form__row">
              <input type="text" placeholder="Ваше имя" class="form__field">
              <input type="text" placeholder="Ваш телефон" class="form__field">
            </div>
            <div class="form__row">
              <input type="text" placeholder="Электронная поста" class="form__field">
            </div>
            <div class="form__row">
              <input type="text" placeholder="Адрес сайта" class="form__field">
            </div>
            <div class="modal__footer">
              <a href="" class="btn btn--md btn--primary modal-link">Оставить заявку</a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="get_price" class="modal">
      <div class="modal__inner">
        <div class="modal__close" data-fancybox-close>{{ sprite('close_nav') }}</div>
        <div class="modal__title">Узнать стоимость</div>
        <form action="">
          <div class="form">
            <div class="form__row">
              <input type="text" placeholder="Ваше имя" class="form__field">
              <input type="text" placeholder="Ваш телефон" class="form__field">
            </div>
            <div class="form__row">
              <input type="text" placeholder="Электронная поста" class="form__field">
            </div>
            <div class="form__row">
              <input type="text" placeholder="Адрес сайта" id="give_value" class="form__field">
            </div>
            <div class="modal__footer">
              <a href="#done_modal" class="btn btn--sm btn--primary modal-link">Узнать стоимость</a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="get_calculation" class="modal">
      <div class="modal__inner">
        <div class="modal__close" data-fancybox-close>{{ sprite('close_nav') }}</div>
        <div class="modal__title">Получить расчет</div>
        <form action="">
          <div class="form">
            <div class="form__row">
              <input type="text" placeholder="Ваше имя" class="form__field">
              <input type="text" placeholder="Ваш телефон" class="form__field">
            </div>
            <div class="form__row">
              <input type="text" placeholder="Электронная поста" class="form__field">
            </div>
            <div class="form__row">
              <input type="text" placeholder="Адрес сайта" class="form__field">
            </div>
            <div class="modal__footer">
              <a href="#done_modal" class="btn btn--sm btn--primary modal-link">Получить расчет</a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="get_price_tabs" class="modal">
      <div class="modal__inner">
        <div class="modal__close" data-fancybox-close>{{ sprite('close_nav') }}</div>
        <div class="modal__title">Узнать стоимость</div>
        <form action="">
          <div class="form">
            <input type="hidden" value="Интернет-магазины">
            <div class="form__row">
              <input type="text" placeholder="Ваше имя" class="form__field">
              <input type="text" placeholder="Ваш телефон" class="form__field">
            </div>
            <div class="form__row">
              <input type="text" placeholder="Электронная поста" class="form__field">
            </div>
            <div class="form__row">
              <input type="text" placeholder="Адрес сайта" class="form__field">
            </div>
            <div class="modal__footer">
              <a href="#done_modal" class="btn btn--sm btn--primary modal-link">Узнать стоимость</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    
    {% block javascript %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/svgxuse/1.2.6/svgxuse.min.js" defer></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tabslet.js/1.7.3/jquery.tabslet.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js"></script>

      <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script> 
      <script src="javascripts/app.js"></script>
    {% endblock %}
  </body>
</html>
