<div class="discount wow fadeIn" data-wow-delay="0.1s">
  <div class="container">
    <img src="./images/discount-left-decor.svg" alt="" class="decor-left">
    <img src="./images/discount-right-decor.svg" alt="" class="decor-right">
    <div class="discount__content wow fadeIn" data-wow-delay="0.2s">
      <h2 class="discount__title">Дарим 8% скидки <span> за любопытство!</span></h2>
      <p class="discount__text">Вы дочитали до конца и должны быть вознаграждены за интерес <br> Заберите свою скидку на любую ежемесячную услугу. </p>
      <div class="discount__form">
        <form action="" class="form">
          <div class="form__row">
            <input type="text" placeholder="Ваше имя" class="form__field">
            <input type="text" placeholder="Ваш телефон" class="form__field">
            <button class="btn btn--sm btn--primary">Забрать скидку</button>
          </div>
        </form>
      </div>
    </div>
    <img src="./images/discount-pic.svg" alt="" class="discount__img wow fadeIn" data-wow-delay="0.3s">
  </div>
</div>