<footer class="footer">
	<div class="container">
		<div class="footer__row">
			<div class="footer__contacts">
				<a href="tel:8 800 323-43-34" class="footer__phone">8 800 323-43-34</a>
				<a href="" class="footer__email">hello@lzmedia.com</a>
			</div>
			<div class="footer__info">
				<p class="footer__address">Самара, ул. Танкистов, 34-342</p>
				<div class="footer__social">
					<a href="" class="footer__social-link">
						<svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#vk'></use></svg>
					</a>
					<a href="" class="footer__social-link">
						<svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#facebook-logo'></use></svg>
					</a>
					<a href="" class="footer__social-link">
						<svg viewBox="0 0 1 1"><use xlink:href='./images/icons.svg#instagram'></use></svg>
					</a>
				</div>
			</div>
			<button class="btn btn--default">Скачать договор</button>
		</div>
		<div class="footer__nav">
			<a href="" class="footer__nav-link">Главная</a>
			<a href="" class="footer__nav-link">SEO-продвижение</a>
			<a href="" class="footer__nav-link">Контекстная реклама</a>
			<a href="" class="footer__nav-link">Разработка сайтов</a>
			
			<a href="" class="footer__nav-link">Кейсы</a>
			<a href="" class="footer__nav-link">О компании</a>
			<a href="" class="footer__nav-link">Блог</a>
			<a href="" class="footer__nav-link">Контакты</a>
		</div>

		<div class="footer__nav footer__nav--mobile">
			<div class="footer__nav-column">
				<a href="" class="footer__nav-link">Главная</a>
				<a href="" class="footer__nav-link">SEO-продвижение</a>
				<a href="" class="footer__nav-link">Контекстная реклама</a>
				<a href="" class="footer__nav-link">Разработка сайтов</a>
			</div>
			<div class="footer__nav-column">
				<a href="" class="footer__nav-link">Кейсы</a>
				<a href="" class="footer__nav-link">О компании</a>
				<a href="" class="footer__nav-link">Блог</a>
				<a href="" class="footer__nav-link">Контакты</a>
			</div>
		</div>
		<div class="footer__copyright">
			<p class="footer__copyright-text">© 2018 Все права защищены.</p>
			<div class="footer__copyright-links">
				<a href="" class="footer__copyright-text">Еще какая то ссылка</a>
				<a href="" class="footer__copyright-text">Политика конфиденциальности</a>
			</div>
		</div>
	</div>
</footer>