<header class="header">
    <div class="page_overlay"></div>
    <div class="container">
        <div class="header__wrapper">
            <div class="header__toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a href="./index.html" class="header__logo">
                <img src="./images/logo.svg" alt="" class="header__logo-pic">
            </a>
            <div class="header__nav">
                <div class="header__nav-mobile-top">
                    <a href="" class="header__nav-mobile-logo">
                        <img src="./images/logo.svg" alt="" class="header__logo-pic">
                    </a>
                    <div class="header__nav-close">
                        {{ sprite('close_nav') }}
                    </div>
                </div>
                <ul class="navigation">
                    <li class="navigation__item navigation__item_parent">
                        <a href="" class="navigation__link">Наши услуги</a>
                        <div class="navigation__submenu-wrap">
                            <ul class="navigation__submenu">
                                <li class="navigation__submenu-item">
                                    <a href="./seo.html" class="navigation__submenu-link">SEO-продвижение</a>
                                </li>
                                <li class="navigation__submenu-item">
                                    <a href="./advertising.html" class="navigation__submenu-link">Контекстная реклама</a>
                                </li>
                                <li class="navigation__submenu-item">
                                    <a href="./development.html" class="navigation__submenu-link">Разработка сайтов</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="navigation__item">
                        <a href="./cases_list.html" class="navigation__link">Кейсы</a>
                    </li>
                    <li class="navigation__item">
                        <a href="./article.html" class="navigation__link">О компании</a>
                    </li>
                    <li class="navigation__item">
                        <a href="./blog.html" class="navigation__link">Блог</a>
                    </li>
                    <li class="navigation__item">
                        <a href="./contacts.html" class="navigation__link">Контакты</a>
                    </li>
                </ul>
                <div class="header__nav-mobile-contacts">
                    <a href="tel:8 800 323-43-34" class="header__nav-mobile-phone">8 800 323-43-34</a>
                    <a href="#application_modal" class="btn btn--default modal-link">Оставить заявку</a>
                </div>
            </div>
            <div class="header__contacts">
                <a href="tel:8 800 323-43-34" class="header__contacts-phone">8 800 323-43-34</a>
                <a href="#application_modal" class="btn btn--default header__request-btn modal-link">Оставить заявку</a>
            </div>
        </div>
    </div>
</header>